<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/ecomerce :: head(pageTitle='Contacto')">
</head>

<body>

	<div class="wrapper">

		<header th:replace="layout/ecomerce :: header(categorymenu='')">
		</header>
		
		<!-- breadcrumb area start -->
	    <div class="breadcrumb-area">
	        <div class="container">
	            <div class="row">
	                <div class="col-12">
	                    <div class="breadcrumb-wrap">
	                        <nav aria-label="breadcrumb">
	                            <ul class="breadcrumb">
	                                <li class="breadcrumb-item"><a th:href="@{/home}">Home</a></li>
	                                <li class="breadcrumb-item"><a th:href="@{/shop}">Compras</a></li>
	                                <li class="breadcrumb-item active" aria-current="page">Contacto</li>
	                            </ul>
	                        </nav>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	    <!-- breadcrumb area end -->
	    
		<!-- contact area start -->
	    <div class="contact-area pb-34 pb-md-18 pb-sm-0">
	        <div class="container">
	            <div class="row">
	                <!--<div class="col-lg-6">
	                    <div class="contact-message">
	                        <h2>Contáctanos</h2>
	                        <form id="contact-form" th:action="@{/opinions}" method="post" class="contact-form">
	                            <div class="row">
	                                <div class="col-lg-6 col-md-6 col-sm-6">
	                                    <input name="first_name" placeholder="Nombres *" type="text" required>    
	                                </div>
	                                <div class="col-lg-6 col-md-6 col-sm-6">
	                                    <input name="phone" placeholder="Celular *" type="text" required>   
	                                </div>
	                                <div class="col-lg-6 col-md-6 col-sm-6">
	                                    <input name="email_address" placeholder="Correo electrónico *" type="text" required>    
	                                </div>
	                                <div class="col-lg-6 col-md-6 col-sm-6">
	                                    <input name="contact_subject" placeholder="Asunto *" type="text">   
	                                </div>
	                                <div class="col-12">
	                                    <div class="contact2-textarea text-center">
	                                        <textarea placeholder="Mensaje *" name="message"  class="form-control2" required=""></textarea>     
	                                    </div>   
	                                    <div class="contact-btn">
	                                        <button class="sqr-btn" type="submit">Enviar</button> 
	                                    </div> 
	                                </div> 
	                                <div class="col-12 d-flex justify-content-center">
	                                    <p class="form-messege"></p>
	                                </div>
	                            </div>
	                        </form>    
	                    </div> 
	                </div>-->
	                <div class="col-lg-6">
	                    <div class="contact-info mt-md-28 mt-sm-28">
	                        <h2>Contáctanos</h2>
	                        <p>Tecnotac - Tienda de telefonía celular</p>
	                        <ul>
	                            <li><i class="fa fa-fax"></i>
	                            	Dirección : Av. San Martin 816, Galería Heroica Plaza Interior C-04
	                            	<br> Referencia (Frente a caja Huancayo - Cruce de Av. San Martin y Patricio Meléndez)
	                            </li>
	                            <li><i class="fa fa-phone"></i> tecnotacstore@gmail.com</li>
	                            <li><i class="fa fa-envelope-o"></i>(+51) 978 106 957</li>
	                        </ul>
	                        <div class="working-time">
	                            <h3>Horario</h3>
	                            <p><span>Lunes – Domingo:</span>08:00 AM – 22:00 PM</p>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	    <!-- contact area end -->
	
	    <!-- map area start -->
	    <div class="map-area-wrapper">
	        <div class="container">
	            <div id="map_content" 
	            	data-lat="-18.0107416" 
	            	data-lng="-70.2468772" 
	            	data-zoom="50" 
	            	data-maptitle="Tecnotac" 
	            	data-mapaddress="Av. San Martin 816 <br> Galería Heroica Plaza Interior C-04">
	            </div>
	        </div>
	    </div>
	    <!-- map area end -->
		
		<div th:replace="layout/ecomerce :: brand">
		</div>

		<footer th:replace="layout/ecomerce :: footer">
		</footer>

	</div>

	<div th:replace="layout/ecomerce :: scroll">
	</div>

	<div th:replace="layout/ecomerce :: scripts">
	</div>

</body>

</html>