<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/ecomerce :: head(pageTitle='Home')">
</head>

<body>

	<div class="wrapper">

		<header th:replace="layout/ecomerce :: header(categorymenu='')">
		</header>
		
		<!-- breadcrumb area start -->
	    <div class="breadcrumb-area">
	        <div class="container">
	            <div class="row">
	                <div class="col-12">
	                    <div class="breadcrumb-wrap">
	                        <nav aria-label="breadcrumb">
	                            <ul class="breadcrumb">
	                                <li class="breadcrumb-item"><a th:href="@{/home}">Home</a></li>
	                                <li class="breadcrumb-item active" aria-current="page">Compras</li>
	                            </ul>
	                        </nav>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	    <!-- breadcrumb area end -->
	    
	    <!-- CONTENIDO -->
	    
	    <!-- page wrapper start -->
	    <div class="page-main-wrapper">
	        <div class="container">
	            <div class="row">
	                <!-- sidebar start -->
	                <div class="col-lg-3 order-2 order-lg-1">
	                    <div class="shop-sidebar-wrap mt-md-28 mt-sm-28">
	                        <!-- sidebar categorie start -->
	                        <div class="sidebar-widget mb-30">
	                            <div class="sidebar-category">
	                                <ul>
	                                    <li class="title"><i class="fa fa-bars"></i> categorías</li>
	                                    <li>
	                                    	<a th:href="@{/shop}">Todos los productos</a>
	                                    </li>
	                                    <li th:each="category, state : ${countProductByCategoryParent}">
	                                    	<a th:href="@{/shop/categoryParent/{id}(id=${category.id})}" th:text="${category.name}"></a>
	                                    	<span th:text="|(${category.count})|"></span>
	                                    </li>
	                                </ul>
	                            </div>
	                        </div>
	                        <!-- sidebar banner start -->
	                        <!--<div class="sidebar-widget mb-30">
	                            <div class="img-container fix img-full">
	                                <a href="javascript:void(0);"><img th:src="@{/ecomerce/assets/img/banner/banner_shop.jpg}" alt=""></a>
	                            </div>
	                        </div>-->
	                        <!-- sidebar banner end -->
	                    </div>
	                </div>
	                <!-- sidebar end -->
	
	                <!-- product main wrap start -->
	                <div class="col-lg-9 order-1 order-lg-2">
	                    <!--<div class="shop-banner img-full">
	                        <img th:src="@{/ecomerce/assets/img/banner/banner_static1.jpg}" alt="">
	                    </div>-->
	                    <!-- product view wrapper area start -->
	                    <div class="shop-product-wrapper pt-34">
	                        <!-- shop product top wrap start -->
	                        <div class="shop-top-bar">
	                            <div class="row">
	                                <div class="col-lg-7 col-md-6">
	                                    <div class="top-bar-left">
	                                        <div class="product-view-mode mr-70 mr-sm-0">
	                                            <a class="active" href="javascript:void(0);" data-target="grid"><i class="fa fa-th"></i></a>
	                                            <a href="javascript:void(0);" data-target="list"><i class="fa fa-list"></i></a>
	                                        </div>
	                                        <!--<div class="product-amount">
	                                            <p>Showing 1–16 of 21 results</p>
	                                        </div>-->
	                                    </div>
	                                </div>
	                                <!--<div class="col-lg-5 col-md-6">
	                                    <div class="top-bar-right">
	                                        <div class="product-short">
	                                            <p>Sort By : </p>
	                                            <select class="nice-select" name="sortby">
	                                                <option value="trending">Relevance</option>
	                                                <option value="sales">Name (A - Z)</option>
	                                                <option value="sales">Name (Z - A)</option>
	                                                <option value="rating">Price (Low &gt; High)</option>
	                                                <option value="date">Rating (Lowest)</option>
	                                                <option value="price-asc">Model (A - Z)</option>
	                                                <option value="price-asc">Model (Z - A)</option>
	                                            </select>
	                                        </div>
	                                    </div>
	                                </div>-->
	                            </div>
	                        </div>
	                        <!-- shop product top wrap start -->
	                        
	                        <div class="shop-product-wrap grid row">
	                            <div class="col-lg-3 col-md-4 col-sm-6" th:each="product : ${list}">
	                                <!-- product single grid item start -->
	                                <div class="product-item fix mb-30">
	                                    <div class="product-thumb">
	                                        <a th:href="@{/shop/{parent}/viewproduct/{id}(id=${product.id},parent=${product.category.parent.parent.id})}">
	                                        	<img th:src="@{${'/productimgs/' + product.image[0].name}}" th:alt="${product.image[0].name}" class="img-pri">
	                                            <img th:src="@{${'/productimgs/' + product.image[1].name}}" th:alt="${product.image[1].name}" class="img-sec">
	                                        </a>
	                                        <!--<div class="product-label">
	                                            <span>top</span>
	                                        </div>-->
		                                    <form th:action="@{/addToCart}" method="post">
		                                    	<input type="hidden" name="id" th:value="${product.id}"/>
		                                    	<input type="hidden" name="quantity" th:value="1"/>
			                                    <div class="product-action-link">
			                                        <a class="modal_view" th:attr="data-product-id=${product.id}" href="javascript:void(0);" data-toggle="modal" data-target="#quick_view"> <span data-toggle="tooltip" data-placement="left" title="Vista previa"><i class="fa fa-search"></i></span> </a>
			                                        <!--<a href="javascript:void(0);" data-toggle="tooltip" data-placement="left" title="Lista de deseos"><i class="fa fa-heart-o"></i></a>-->
			                                        <!--<a href="javascript:void(0);" data-toggle="tooltip" data-placement="left" title="Comparar"><i class="fa fa-refresh"></i></a>-->
			                                        <a href="#" onclick="$(this).closest('form').submit()" data-toggle="tooltip" data-placement="left" title="Agregar"><i class="fa fa-shopping-cart"></i></a>
			                                    </div>
		                                    </form>
	                                    </div>
	                                    <div class="product-content">
	                                        <h4><a th:href="@{/shop/{parent}/viewproduct/{id}(id=${product.id},parent=${product.category.parent.parent.id})}" th:text="${product.name}"></a></h4>
	                                        <div class="pricebox">
	                                            <span class="regular-price" th:text="|S/ ${#numbers.formatDecimal(product.price,3,'COMMA',2,'POINT')}|"></span>
	                                            <!--<div class="ratings">
	                                                <span class="good"><i class="fa fa-star"></i></span>
	                                                <span class="good"><i class="fa fa-star"></i></span>
	                                                <span class="good"><i class="fa fa-star"></i></span>
	                                                <span class="good"><i class="fa fa-star"></i></span>
	                                                <span><i class="fa fa-star"></i></span>
	                                                <div class="pro-review">
	                                                    <span>1 review(s)</span>
	                                                </div>
	                                            </div>-->
	                                        </div>
	                                    </div>
	                                </div>
	                                <!-- product single grid item end -->
	                                <!-- product single list item start -->
	                                <div class="product-list-item mb-30">
	                                    <div class="product-thumb">
	                                        <a th:href="@{/shop/{parent}/viewproduct/{id}(id=${product.id},parent=${product.category.parent.parent.id})}">
	                                        	<img th:src="@{${'/productimgs/' + product.image[0].name}}" th:alt="${product.image[0].name}" class="img-pri">
	                                            <img th:src="@{${'/productimgs/' + product.image[1].name}}" th:alt="${product.image[1].name}" class="img-sec">
	                                        </a>
	                                        <!--<div class="product-label">
	                                            <span>top</span>
	                                        </div>-->
	                                    </div>
	                                    <div class="product-list-content">
	                                        <h3><a th:href="@{/shop/{parent}/viewproduct/{id}(id=${product.id},parent=${product.category.parent.parent.id})}" th:text="${product.name}"></a></h3>
	                                        <!--<div class="ratings">
	                                            <span class="good"><i class="fa fa-star"></i></span>
	                                            <span class="good"><i class="fa fa-star"></i></span>
	                                            <span class="good"><i class="fa fa-star"></i></span>
	                                            <span class="good"><i class="fa fa-star"></i></span>
	                                            <span><i class="fa fa-star"></i></span>
	                                            <div class="pro-review">
	                                                <span>1 review(s)</span>
	                                            </div>
	                                        </div>-->
	                                        <div class="pricebox">
	                                            <span class="regular-price" th:text="|S/ ${product.price}|"></span>
	                                            <span class="old-price"><del th:text="|S/ ${product.price + 0.1*product.price}|"></del></span>
	                                        </div>
	                                        <p th:text="${product.description}"></p>
	                                        <form th:action="@{/addToCart}" method="post">
		                                        <input type="hidden" name="id" th:value="${product.id}"/>
		                                    	<input type="hidden" name="quantity" th:value="1"/>
		                                        <div class="product-list-action-link">
		                                            <a class="buy-btn" href="#" onclick="$(this).closest('form').submit()" data-toggle="tooltip" data-placement="top" title="Agregar">Agregar<i class="fa fa-shopping-cart"></i></a>
		                                            <a class="modal_view" th:attr="data-product-id=${product.id}" href="javascript:void(0);" data-toggle="modal" data-target="#quick_view"> <span data-toggle="tooltip" data-placement="top" title="Vista previa"><i class="fa fa-search"></i></span> </a>
		                                            <!--<a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Lista de deseos"><i class="fa fa-heart-o"></i></a>
		                                            <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Comparar"><i class="fa fa-refresh"></i></a>-->
		                                        </div>
	                                        </form>
	                                    </div>
	                                </div>
	                                <!-- product single list item start -->
	                            </div>
	                            
	                    	</div>
							
	                    </div>
	                    <!-- product view wrapper area end -->
	
	                    <!-- start pagination area -->
	                    <div class="paginatoin-area text-center pt-28">
	                        <div class="row">
	                            <div class="col-12">
	                                <!--<ul class="pagination-box">
	                                    <li><a class="Previous" href="javascript:void(0);">Previous</a></li>
	                                    <li class="active"><a href="javascript:void(0);">1</a></li>
	                                    <li><a href="javascript:void(0);">2</a></li>
	                                    <li><a href="javascript:void(0);">3</a></li>
	                                    <li><a class="Next" href="javascript:void(0);"> Next </a></li>
	                                </ul>-->
	                                <nav aria-label="Pagination">
										<ul class="pagination justify-content-center">
											<li class="page-item" th:classappend="${prev == 0 ? 'disabled': ''}">
												<a class="page-link" th:href="@{|/shop?page=${prev}|}">Anterior</a>
											</li>
											<li class="page-item" th:each="page : ${pages}" th:classappend="${current == page ? 'active': ''}">
												<a class="page-link" th:href="@{|/shop?page=${page}|}" th:text="${page}"></a>
											</li>
											<li class="page-item" th:classappend="${current == last ? 'disabled': ''}">
												<a class="page-link" th:href="@{|/shop?page=${next}|}">Siguiente</a>
											</li>
										</ul>
									</nav>
	                            </div>
	                        </div>
	                    </div>
	                    <!-- end pagination area -->
	
	                </div>
	                <!-- product main wrap end -->
	            </div>
	        </div>
	    </div>
	    <!-- page wrapper end -->

		<!-- END CONTENIDO -->

		<div th:replace="layout/ecomerce :: brand">
		</div>

		<footer th:replace="layout/ecomerce :: footer">
		</footer>

	</div>

	<div th:replace="layout/ecomerce :: quickviewmodal">
	</div>

	<div th:replace="layout/ecomerce :: scroll">
	</div>

	<div th:replace="layout/ecomerce :: scripts">
	</div>
	
	<script th:src="@{/client/scripts/modal-view.js}"></script>

</body>

</html>