<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layout/adminpanel :: head(pageTitle='Admin Home')">
</head>

<body class="vertical-layout vertical-menu-modern semi-dark-layout 2-columns  navbar-sticky footer-static" data-open="click" data-menu="vertical-menu-modern" data-col="2-columns" data-layout="semi-dark-layout">

	<div th:replace="layout/adminpanel :: header">
	</div>
	
	<div th:replace="layout/adminpanel :: main_menu">
	</div>

	<!-- BEGIN: Content-->
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
            	<div th:fragment="content">
	                <!-- Dashboard Ecommerce Starts -->
	                <section id="dashboard-ecommerce">
	                    <div class="row">
	                        <div class="col-xl-12 col-12 dashboard-users">
	                            <div class="row">
	                                <!-- Statistics Cards Starts -->
	                                <div class="col-12">
	                                    <div class="row">
	                                        <div class="col-sm-3 col-12 dashboard-users-success">
	                                            <div class="card text-center">
	                                                <div class="card-content">
	                                                    <div class="card-body py-1">
	                                                        <div class="badge-circle badge-circle-lg badge-circle-light-success mx-auto mb-50">
	                                                            <i class="bx bx-bar-chart-alt-2 font-medium-5"></i>
	                                                        </div>
	                                                        <div class="text-muted line-ellipsis">Ventas totales</div>
	                                                        <h3 class="mb-0" th:text="|S/ ${#numbers.formatDecimal(totalSales, 0, 'COMMA', 2, 'POINT')}|"></h3>
	                                                    </div>
	                                                </div>
	                                            </div>
	                                        </div>
	                                        <div class="col-sm-3 col-12 dashboard-users-danger">
	                                            <div class="card text-center">
	                                                <div class="card-content">
	                                                    <div class="card-body py-1">
	                                                        <div class="badge-circle badge-circle-lg badge-circle-light-info mx-auto mb-50">
	                                                            <i class="bx bx-truck font-medium-5"></i>
	                                                        </div>
	                                                        <div class="text-muted line-ellipsis">Pedidos totales</div>
	                                                        <h3 class="mb-0" th:text="${totalOrders}"></h3>
	                                                    </div>
	                                                </div>
	                                            </div>
	                                        </div>
	                                        <div class="col-sm-3 col-12 dashboard-users-danger">
	                                            <div class="card text-center">
	                                                <div class="card-content">
	                                                    <div class="card-body py-1">
	                                                        <div class="badge-circle badge-circle-lg badge-circle-light-danger mx-auto mb-50">
	                                                            <i class="bx bx-user font-medium-5"></i>
	                                                        </div>
	                                                        <div class="text-muted line-ellipsis">Usuarios</div>
	                                                        <h3 class="mb-0" th:text="${totalUsers}"></h3>
	                                                    </div>
	                                                </div>
	                                            </div>
	                                        </div>
	                                        <div class="col-sm-3 col-12 dashboard-users-danger">
	                                            <div class="card text-center">
	                                                <div class="card-content">
	                                                    <div class="card-body py-1">
	                                                        <div class="badge-circle badge-circle-lg badge-circle-light-warning mx-auto mb-50">
	                                                            <i class="bx bx-user-plus font-medium-5"></i>
	                                                        </div>
	                                                        <div class="text-muted line-ellipsis">Clientes</div>
	                                                        <h3 class="mb-0" th:text="${totalClients}"></h3>
	                                                    </div>
	                                                </div>
	                                            </div>
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="row">
	                    	<!-- Latest Update Starts -->
	                        <div class="col-xl-4 col-md-6 col-12 dashboard-latest-update">
	                            <div class="card">
	                                <div class="card-header d-flex justify-content-between align-items-center pb-50">
	                                    <h4 class="card-title">Estado de pedidos</h4>
	                                </div>
	                                <div class="card-content">
	                                    <div class="card-body p-0 pb-1">
	                                        <ul class="list-group list-group-flush">
	                                            <li class="list-group-item list-group-item-action border-0 d-flex align-items-center justify-content-between">
	                                                <div class="list-left d-flex">
	                                                    <div class="list-icon mr-1">
	                                                        <div class="avatar bg-rgba-primary m-0">
	                                                            <div class="avatar-content">
	                                                                <i class="bx bxs-zap text-primary font-size-base"></i>
	                                                            </div>
	                                                        </div>
	                                                    </div>
	                                                    <div class="list-content">
	                                                        <span class="list-title">Pagados</span>
	                                                    </div>
	                                                </div>
	                                                <span th:text="${completedOrders}"></span>
	                                            </li>
	                                            <li class="list-group-item list-group-item-action border-0 d-flex align-items-center justify-content-between">
	                                                <div class="list-left d-flex">
	                                                    <div class="list-icon mr-1">
	                                                        <div class="avatar bg-rgba-info m-0">
	                                                            <div class="avatar-content">
	                                                                <i class="bx bx-stats text-info font-size-base"></i>
	                                                            </div>
	                                                        </div>
	                                                    </div>
	                                                    <div class="list-content">
	                                                        <span class="list-title">Pendientes</span>
	                                                    </div>
	                                                </div>
	                                                <span th:text="${pendingOrders}"></span>
	                                            </li>
	                                            <li class="list-group-item list-group-item-action border-0 d-flex align-items-center justify-content-between">
	                                                <div class="list-left d-flex">
	                                                    <div class="list-icon mr-1">
	                                                        <div class="avatar bg-rgba-danger m-0">
	                                                            <div class="avatar-content">
	                                                                <i class="bx bx-credit-card text-danger font-size-base"></i>
	                                                            </div>
	                                                        </div>
	                                                    </div>
	                                                    <div class="list-content">
	                                                        <span class="list-title">Cancelados</span>
	                                                    </div>
	                                                </div>
	                                                <span th:text="${canceledOrders}"></span>
	                                            </li>
	                                            <li class="list-group-item list-group-item-action border-0 d-flex align-items-center justify-content-between">
	                                                <div class="list-left d-flex">
	                                                    <div class="list-icon mr-1">
	                                                        <div class="avatar bg-rgba-success m-0">
	                                                            <div class="avatar-content">
	                                                                <i class="bx bx-dollar text-success font-size-base"></i>
	                                                            </div>
	                                                        </div>
	                                                    </div>
	                                                    <div class="list-content">
	                                                        <span class="list-title">Entregados</span>
	                                                    </div>
	                                                </div>
	                                                <span th:text="${deliveredOrders}"></span>
	                                            </li>
	                                        </ul>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                        <!-- Marketing Campaigns Starts -->
	                        <div class="col-xl-8 col-12 dashboard-marketing-campaign">
	                            <div class="card marketing-campaigns">
	                                <div class="card-header d-flex justify-content-between align-items-center pb-1">
	                                    <h4 class="card-title">Productos más vendidos</h4>
	                                </div>
	                                <div class="table-responsive">
	                                    <!-- table start -->
	                                    <table class="table table-borderless table-marketing-campaigns mb-0">
	                                        <thead>
	                                            <tr>
	                                                <th>#</th>
	                                                <th>Nombre</th>
	                                                <th>Stock</th>
	                                                <th>Cantidad vendida</th>
	                                            </tr>
	                                        </thead>
	                                        <tbody>
												<tr th:each="product, state : ${bestSellingProduct}">
													<td th:text="${state.count}"></td>
													<td th:text="${product.name}"></td>
													<td th:text="${product.stock}"></td>
													<td th:text="${product.quantitySales}"></td>
												</tr>
	                                        </tbody>
	                                    </table>
	                                    <!-- table ends -->
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </section>
	                <!-- Dashboard Ecommerce ends -->
				</div>
            </div>
        </div>
    </div>
    <!-- END: Content-->

	<footer th:replace="layout/adminpanel :: footer">
	</footer>

	<div th:replace="layout/adminpanel :: scripts">
	</div>
	
	<!-- BEGIN DASHBOARD: -->
    <script th:src="@{/adminpanel/app-assets/js/scripts/pages/dashboard-ecommerce.js}"></script>
    <!-- END: -->

</body>

</html>