<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/ecomerce :: head(pageTitle='Home')">
</head>

<body>

	<div class="wrapper">

		<header th:replace="layout/ecomerce :: header(categorymenu='')">
		</header>

		<!-- CONTENIDO -->

		<div th:fragment="content">
			<!-- hero slider start -->
	        <div class="hero-slider-area">
	            <div class="container">
	                <div class="row">
	                    <div class="col-lg-12">
	                        <div class="slider-wrapper-area2 mt-30">
	                            <div class="hero-slider-active hero__2 slick-dot-style hero-dot">
	                                <div class="single-slider d-flex align-items-center" 
	                                	th:style="'background-image: url('+@{/ecomerce/assets/img/slider/slider01.jpg}+');background-size: 100% 100%;'">
	                                    <!--<div class="container">
	                                        <div class="slider-main-content">
	                                            <div class="slider-text text-center">
	                                                <h2>new camera products</h2>
	                                                <h3>get up to 50% sale</h3>
	                                                <p>This is photoshop's version of lorem ipsum. Proin gravida nibh vel velit auctor aliquet. </p>
	                                                <a class="home-btn" href="#">shop now</a>
	                                            </div>
	                                        </div>
	                                    </div>-->
	                                </div>
	                                <div class="single-slider d-flex align-items-center" 
										th:style="'background-image: url('+@{/ecomerce/assets/img/slider/slider02.png}+');background-size: 100% 100%;'">
	                                    <!--<div class="container">
	                                        <div class="slider-main-content">
	                                            <div class="slider-text text-center">
	                                                <h2>new smart tv products</h2>
	                                                <h3>get up to 50% sale</h3>
	                                                <p>This is photoshop's version of lorem ipsum. Proin gravida nibh vel velit auctor aliquet. </p>
	                                                <a class="home-btn" href="#">shop now</a>
	                                            </div>
	                                        </div>
	                                    </div>-->
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
			<!-- hero slider end -->

			<!-- home banner area start -->
			<!--<div class="banner-area mt-30">
				<div class="container">
					<div class="row">
						<div class="col-lg-3 col-md-3 col-sm-6 order-1">
							<div class="img-container img-full fix imgs-res mb-sm-30">
								<a href="javascript:void(0);">
									<img th:src="@{/ecomerce/assets/img/banner/banner_left.jpg}" alt="">
								</a>
							</div>
						</div>
						<div class="col-lg-5 col-md-5 order-sm-3">
							<div class="img-container img-full fix mb-30">
								<a href="javascript:void(0);">
									<img th:src="@{/ecomerce/assets/img/banner/banner_static_top1.jpg}" alt="">
								</a>
							</div>
							<div class="img-container img-full fix mb-30">
								<a href="javascript:void(0);">
									<img th:src="@{/ecomerce/assets/img/banner/banner_static_top2.jpg}" alt="">
								</a>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 order-2 order-md-3">
							<div class="img-container img-full fix">
								<a href="javascript:void(0);">
									<img th:src="@{/ecomerce/assets/img/banner/banner_static_top3.jpg}" alt="">
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>-->
			<!-- home banner area end -->
			
			<br>
			
			<!-- page wrapper start -->
		    <div class="page-wrapper pt-6 pb-28 pb-md-6 pb-sm-6 pt-xs-36">
		        <div class="container">
		            <div class="row">
		                <!-- start home sidebar -->
		                <div class="col-lg-3">
		                    <div class="home-sidebar">
		                        <div class="main-sidebar hot-deals-wrap mb-30">
		                            <div class="section-title-2 d-flex justify-content-between mb-28">
		                                <h3>Más vendido</h3>
		                                <div class="slick-append"></div>
		                            </div>
		                            <div class="deals-carousel-active slick-padding slick-arrow-style">

		                                <div class="product-item fix" th:each="product : ${productsMostSelled}">
		                                    <div class="product-thumb">
		                                        <a th:href="@{/shop/{parent}/viewproduct/{id}(id=${product.id},parent=${product.category.parent.parent.id})}">
		                                        	<img th:src="@{${'/productimgs/' + product.image[0].name}}" th:alt="${product.image[0].name}" class="img-pri">
		                                            <img th:src="@{${'/productimgs/' + product.image[1].name}}" th:alt="${product.image[1].name}" class="img-sec">
		                                        </a>
		                                        <form th:action="@{/addToCart}" method="post">
			                                    	<input type="hidden" name="id" th:value="${product.id}"/>
			                                    	<input type="hidden" name="quantity" th:value="1"/>
				                                    <div class="product-action-link">
				                                        <a class="modal_view" th:attr="data-product-id=${product.id}" href="javascript:void(0);" data-toggle="modal" data-target="#quick_view"> <span data-toggle="tooltip" data-placement="left" title="Vista previa"><i class="fa fa-search"></i></span> </a>
				                                        <a href="#" onclick="$(this).closest('form').submit()" data-toggle="tooltip" data-placement="left" title="Agregar"><i class="fa fa-shopping-cart"></i></a>
				                                    </div>
			                                    </form>
		                                    </div>
		                                    <div class="product-content">
		                                        <h4><a th:href="@{/shop/{parent}/viewproduct/{id}(id=${product.id},parent=${product.category.parent.parent.id})}" th:text="${product.name}"></a></h4>
		                                        <div class="pricebox">
		                                            <span class="regular-price" th:text="|S/ ${product.price}|">$70.00</span>
		                                        </div>
		                                    </div>         
		                                </div>
		                            </div>
		                        </div>

		                        <!--<div class="main-sidebar category-wrapper mb-24">
		                            <div class="section-title-2 d-flex justify-content-between mb-28">
		                                <h3>Mejor vendido</h3>
		                                <div class="category-append"></div>
		                            </div>
		                            <div class="category-carousel-active row" data-row="4">
		                                <div class="col" th:each="product : ${productsMostViewed}">
		                                    <div class="category-item">
		                                        <div class="category-thumb">
		                                            <a th:href="@{/shop/viewproduct/{id}(id=${product.id})}">
		                                                <img th:src="@{${'/productimgs/' + product.image[0].name}}" th:alt="${product.image[0].name}">
		                                            </a>
		                                        </div>
		                                        <div class="category-content">
		                                            <h4><a th:href="@{/shop/viewproduct/{id}(id=${product.id})}" th:text="${product.name}"></a></h4>
		                                            <div class="price-box">
		                                                <div class="regular-price" th:text="|S/ ${product.price}|">
		                                                </div>
		                                                <div class="old-price">
		                                                    <del th:text="|S/ ${product.price + 500}|"></del>
		                                                </div>
		                                            </div>
		                                        </div>
		                                    </div>
		                                </div>
		                            </div>
		                        </div>-->
		                    </div>
		                </div>
		                <!-- end home sidebar -->
		                
		                <div class="col-lg-9">
		                    <!-- featured category area start -->
		                    <div class="feature-category-area mt-md-70">
		                        <div class="section-title mb-30">
		                            <div class="title-icon">
		                                <i class="fa fa-bookmark"></i>
		                            </div>
		                            <h3>Productos más visitados</h3>
		                        </div> <!-- section title end -->
		                        <!-- featured category start -->
		                        <div class="featured-carousel-active slick-padding slick-arrow-style">
		                            <!-- product single item start -->
		                            <div class="product-item fix" th:each="product : ${productsMostViewed}">
		                                <div class="product-thumb">
		                                    <a th:href="@{/shop/{parent}/viewproduct/{id}(id=${product.id},parent=${product.category.parent.parent.id})}">
		                                        <img th:src="@{${'/productimgs/' + product.image[0].name}}" th:alt="${product.image[0].name}" class="img-pri">
		                                        <img th:src="@{${'/productimgs/' + product.image[1].name}}" th:alt="${product.image[1].name}" class="img-sec">
		                                    </a>
		                                    <!--<div class="product-label">
		                                        <span>top</span>
		                                    </div>-->
		                                    <form th:action="@{/addToCart}" method="post">
		                                    	<input type="hidden" name="id" th:value="${product.id}"/>
		                                    	<input type="hidden" name="quantity" th:value="1"/>
			                                    <div class="product-action-link">
			                                        <a class="modal_view" th:attr="data-product-id=${product.id}" href="javascript:void(0);" data-toggle="modal" data-target="#quick_view"> <span data-toggle="tooltip" data-placement="left" title="Vista previa"><i class="fa fa-search"></i></span> </a>
			                                        <!--<a href="javascript:void(0);" data-toggle="tooltip" data-placement="left" title="Lista de deseos"><i class="fa fa-heart-o"></i></a>-->
			                                        <!--<a href="javascript:void(0);" data-toggle="tooltip" data-placement="left" title="Comparar"><i class="fa fa-refresh"></i></a>-->
			                                        <a href="#" onclick="$(this).closest('form').submit()" data-toggle="tooltip" data-placement="left" title="Agregar"><i class="fa fa-shopping-cart"></i></a>
			                                    </div>
		                                    </form>
		                                </div>
		                                <div class="product-content">
		                                    <h4><a th:href="@{/shop/{parent}/viewproduct/{id}(id=${product.id},parent=${product.category.parent.parent.id})}" th:text="${product.name}"></a></h4>
		                                    <div class="pricebox">
		                                        <span class="regular-price" th:text="|S/ ${product.price}|"></span>
		                                        <!--<div class="ratings">
		                                            <span class="good"><i class="fa fa-star"></i></span>
		                                            <span class="good"><i class="fa fa-star"></i></span>
		                                            <span class="good"><i class="fa fa-star"></i></span>
		                                            <span class="good"><i class="fa fa-star"></i></span>
		                                            <span><i class="fa fa-star"></i></span>
		                                            <div class="pro-review">
		                                                <span>1 review(s)</span>
		                                            </div>
		                                        </div>-->
		                                    </div>
		                                </div>
		                            </div>
		                            <!-- product single item end -->
		                        </div>
		                        <!-- featured category end -->
		                    </div>
		                    <!-- featured category area end -->
		
		                    <!-- banner statistic start -->
		                    <!--<div class="banner-statistic pt-28 pb-36">
		                        <div class="img-container fix img-full">
		                            <a href="javascript:void(0);">
		                                <img th:src="@{/ecomerce/assets/img/banner/banner_static1.jpg}" alt="">
		                            </a>
		                        </div>
		                    </div>-->
		                    <!-- banner statistic end -->
		
		                    <!-- featured category area start -->
		                    <div class="feature-category-area">
		                        <div class="section-title mb-30">
		                            <div class="title-icon">
		                                <i class="fa fa-flask"></i>
		                            </div>
		                            <h3>Productos más recientes</h3>
		                        </div> <!-- section title end -->
		                        <!-- featured category start -->
		                        <div class="featured-carousel-active slick-padding slick-arrow-style">
		                            <!-- product single item start -->
		                            <div class="product-item fix" th:each="product : ${productsMostRecent}">
		                                <div class="product-thumb">
		                                    <a th:href="@{/shop/{parent}/viewproduct/{id}(id=${product.id},parent=${product.category.parent.parent.id})}">
		                                        <img th:src="@{${'/productimgs/' + product.image[0].name}}" th:alt="${product.image[0].name}" class="img-pri">
		                                        <img th:src="@{${'/productimgs/' + product.image[1].name}}" th:alt="${product.image[1].name}" class="img-sec">
		                                    </a>
		                                    <!--<div class="product-label">
		                                        <span>top</span>
		                                    </div>-->
		                                    <form th:action="@{/addToCart}" method="post">
		                                    	<input type="hidden" name="id" th:value="${product.id}"/>
		                                    	<input type="hidden" name="quantity" th:value="1"/>
			                                    <div class="product-action-link">
			                                        <a class="modal_view" th:attr="data-product-id=${product.id}" href="javascript:void(0);" data-toggle="modal" data-target="#quick_view"> <span data-toggle="tooltip" data-placement="left" title="Vista previa"><i class="fa fa-search"></i></span> </a>
			                                        <!--<a href="javascript:void(0);" data-toggle="tooltip" data-placement="left" title="Lista de deseos"><i class="fa fa-heart-o"></i></a>-->
			                                        <!--<a href="javascript:void(0);" data-toggle="tooltip" data-placement="left" title="Comparar"><i class="fa fa-refresh"></i></a>-->
			                                        <a href="#" onclick="$(this).closest('form').submit()" data-toggle="tooltip" data-placement="left" title="Agregar"><i class="fa fa-shopping-cart"></i></a>
			                                    </div>
		                                    </form>
		                                </div>
		                                <div class="product-content">
		                                    <h4><a th:href="@{/shop/{parent}/viewproduct/{id}(id=${product.id},parent=${product.category.parent.parent.id})}" th:text="${product.name}"></a></h4>
		                                    <div class="pricebox">
		                                        <span class="regular-price" th:text="|S/ ${product.price}|"></span>
		                                        <!--<div class="ratings">
		                                            <span class="good"><i class="fa fa-star"></i></span>
		                                            <span class="good"><i class="fa fa-star"></i></span>
		                                            <span class="good"><i class="fa fa-star"></i></span>
		                                            <span class="good"><i class="fa fa-star"></i></span>
		                                            <span><i class="fa fa-star"></i></span>
		                                            <div class="pro-review">
		                                                <span>1 review(s)</span>
		                                            </div>
		                                        </div>-->
		                                    </div>
		                                </div>
		                            </div>
		                            <!-- product single item end -->
		                        </div>
		                        <!-- featured category end -->
		                    </div>
		                    <!-- featured category area end -->
		
		                    <!-- banner statistic start -->
		                    <!--<div class="banner-statistic pt-28 pb-30 pb-sm-0">
		                        <div class="row">
		                            <div class="col-lg-7 col-md-7">
		                                <div class="img-container fix img-full mb-sm-30">
		                                    <a href="javascript:void(0);">
		                                        <img th:src="@{/ecomerce/assets/img/banner/banner_static2.jpg}" alt="">
		                                    </a>
		                                </div>
		                            </div>
		                            <div class="col-lg-5 col-md-5">
		                                <div class="img-container fix img-full mb-sm-30">
		                                    <a href="javascript:void(0);">
		                                        <img th:src="@{/ecomerce/assets/img/banner/banner_static3.jpg}" alt="">
		                                    </a>
		                                </div>
		                            </div>
		                        </div>
		                    </div>-->
		                    <!-- banner statistic end -->
							
							<!-- featured category area start -->
		                    <div class="feature-category-area">
		                        <div class="section-title mb-30">
		                            <div class="title-icon">
		                                <i class="fa fa-gift"></i>
		                            </div>
		                            <h3>Productos más vendidos</h3>
		                        </div> <!-- section title end -->
		                        <!-- featured category start -->
		                        <div class="featured-carousel-active slick-padding slick-arrow-style">
		                            <!-- product single item start -->
		                            <div class="product-item fix" th:each="product : ${productsMostSelled}">
		                                <div class="product-thumb">
		                                    <a th:href="@{/shop/{parent}/viewproduct/{id}(id=${product.id},parent=${product.category.parent.parent.id})}">
		                                        <img th:src="@{${'/productimgs/' + product.image[0].name}}" th:alt="${product.image[0].name}" class="img-pri">
		                                        <img th:src="@{${'/productimgs/' + product.image[1].name}}" th:alt="${product.image[1].name}" class="img-sec">
		                                    </a>
		                                    <!--<div class="product-label">
		                                        <span>top</span>
		                                    </div>-->
		                                    <form th:action="@{/addToCart}" method="post">
		                                    	<input type="hidden" name="id" th:value="${product.id}"/>
		                                    	<input type="hidden" name="quantity" th:value="1"/>
			                                    <div class="product-action-link">
			                                        <a class="modal_view" th:attr="data-product-id=${product.id}" href="javascript:void(0);" data-toggle="modal" data-target="#quick_view"> <span data-toggle="tooltip" data-placement="left" title="Vista previa"><i class="fa fa-search"></i></span> </a>
			                                        <!--<a href="javascript:void(0);" data-toggle="tooltip" data-placement="left" title="Lista de deseos"><i class="fa fa-heart-o"></i></a>-->
			                                        <!--<a href="javascript:void(0);" data-toggle="tooltip" data-placement="left" title="Comparar"><i class="fa fa-refresh"></i></a>-->
			                                        <a href="#" onclick="$(this).closest('form').submit()" data-toggle="tooltip" data-placement="left" title="Agregar"><i class="fa fa-shopping-cart"></i></a>
			                                    </div>
		                                    </form>
		                                </div>
		                                <div class="product-content">
		                                    <h4><a th:href="@{/shop/{parent}/viewproduct/{id}(id=${product.id},parent=${product.category.parent.parent.id})}" th:text="${product.name}"></a></h4>
		                                    <div class="pricebox">
		                                        <span class="regular-price" th:text="|S/ ${product.price}|"></span>
		                                        <!--<div class="ratings">
		                                            <span class="good"><i class="fa fa-star"></i></span>
		                                            <span class="good"><i class="fa fa-star"></i></span>
		                                            <span class="good"><i class="fa fa-star"></i></span>
		                                            <span class="good"><i class="fa fa-star"></i></span>
		                                            <span><i class="fa fa-star"></i></span>
		                                            <div class="pro-review">
		                                                <span>1 review(s)</span>
		                                            </div>
		                                        </div>-->
		                                    </div>
		                                </div>
		                            </div>
		                            <!-- product single item end -->
		                        </div>
		                        <!-- featured category end -->
		                    </div>
		                    <!-- featured category area end -->
							
		                </div>
						
					</div>
		        </div>
		    </div>
		    <!-- page wrapper end -->

			<!-- latest product start -->
			<div class="latest-product">
				<div class="container">
					<div class="section-title mb-30">
						<div class="title-icon">
							<i class="fa fa-flash"></i>
						</div>
						<h3>Lo último</h3>
					</div> <!-- section title end -->
					<!-- featured Product start -->
					<div class="latest-product-active slick-padding slick-arrow-style">
						<!-- product single item start -->
						<div th:each="product : ${productsMostRecent}" class="product-item fix">
							<div class="product-thumb">
								<a th:href="@{/shop/{parent}/viewproduct/{id}(id=${product.id},parent=${product.category.parent.parent.id})}">
                                    <img th:src="@{${'/productimgs/' + product.image[0].name}}" th:alt="${product.image[0].name}" class="img-pri">
                                    <img th:src="@{${'/productimgs/' + product.image[1].name}}" th:alt="${product.image[1].name}" class="img-sec">
								</a>
								<!--<div class="product-label">
									<span>top</span>
								</div>-->
								<form th:action="@{/addToCart}" method="post">
                                	<input type="hidden" name="id" th:value="${product.id}"/>
                                	<input type="hidden" name="quantity" th:value="1"/>
                                    <div class="product-action-link">
                                        <a class="modal_view" th:attr="data-product-id=${product.id}" href="javascript:void(0);" data-toggle="modal" data-target="#quick_view"> <span data-toggle="tooltip" data-placement="left" title="Vista previa"><i class="fa fa-search"></i></span> </a>
                                        <!--<a href="javascript:void(0);" data-toggle="tooltip" data-placement="left" title="Lista de deseos"><i class="fa fa-heart-o"></i></a>-->
                                        <!--<a href="javascript:void(0);" data-toggle="tooltip" data-placement="left" title="Comparar"><i class="fa fa-refresh"></i></a>-->
                                        <a href="#" onclick="$(this).closest('form').submit()" data-toggle="tooltip" data-placement="left" title="Agregar"><i class="fa fa-shopping-cart"></i></a>
                                    </div>
                                </form>
							</div>
							<div class="product-content">
								<h4><a th:href="@{/shop/{parent}/viewproduct/{id}(id=${product.id},parent=${product.category.parent.parent.id})}" th:text="${product.name}"></a>
								</h4>
								<div class="pricebox">
									<span class="regular-price" th:text="|S/ ${product.price}|"></span>
									<!--<div class="ratings">
										<span class="good"><i class="fa fa-star"></i></span>
										<span class="good"><i class="fa fa-star"></i></span>
										<span class="good"><i class="fa fa-star"></i></span>
										<span class="good"><i class="fa fa-star"></i></span>
										<span><i class="fa fa-star"></i></span>
										<div class="pro-review">
											<span>1 review(s)</span>
										</div>
									</div>-->
								</div>
							</div>
						</div>
						<!-- product single item end -->
					</div>
					<!-- featured Product end -->
				</div>
			</div>
			<!-- latest product end -->
		</div>

		<!-- END CONTENIDO -->

		<div th:replace="layout/ecomerce :: brand">
		</div>

		<footer th:replace="layout/ecomerce :: footer">
		</footer>

	</div>

	<div th:replace="layout/ecomerce :: quickviewmodal">
	</div>

	<div th:replace="layout/ecomerce :: scroll">
	</div>

	<div th:replace="layout/ecomerce :: scripts">
	</div>
	
	<script th:src="@{/client/scripts/modal-view.js}"></script>

</body>

</html>