<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/adminpanel :: head(pageTitle='Clientes')">
</head>

<body class="vertical-layout vertical-menu-modern semi-dark-layout 2-columns  navbar-sticky footer-static" data-open="click" data-menu="vertical-menu-modern" data-col="2-columns" data-layout="semi-dark-layout">
	<div th:replace="layout/adminpanel :: header">
	</div>
	
	<div th:replace="layout/adminpanel :: main_menu">
	</div>
	
	<!-- BEGIN: Content-->
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="content-wrapper">
             <div class="content-header row">
                <div class="content-header-left col-12 mb-2 mt-1">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <h5 class="content-header-title float-left pr-1 mb-0">Clientes</h5>
                            <div class="breadcrumb-wrapper col-12">
                                <ol class="breadcrumb p-0 mb-0">
                                    <li class="breadcrumb-item"><a th:href="@{/admin/dashboard}"><i class="bx bx-home-alt"></i></a>
                                    </li>
                                    <li class="breadcrumb-item active">clientes
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body">
            	<div th:fragment="content">
            	
            		<section class="users-list-wrapper">
	                    <div class="users-list-table">
	                        <div class="card">
	                            <div class="card-content">
	                                <div class="card-body">
	                                    <div class="">
										    <table class="table" style="width:100%">
										        <thead>
											        <tr>
											            <th>#</th>
											            <th>Email</th>
											            <th>Estado</th>
											            <th>Nombres</th>
											            <th>Apellidos</th>
											            <th>Avatar</th>
											        </tr>
										        </thead>
										        <tbody>
										        	<tr th:each="client, state : ${list}">
										        		<th th:text="${state.count}"></th>
										        		<th th:text="${client.email}"></th>
										        		<th th:text="${client.enabled}"></th>
										        		<th th:text="${client.firstName}"></th>
										        		<th th:text="${client.lastName}"></th>
										        		<th>
										        			<img th:if="${client.picture != null}"
										        			class="rounded-circle" 
										        			height="50px" width="50px" th:src="${client.picture}">
										        			<img th:if="${client.picture == null}"
										        			class="rounded-circle" 
										        			height="50px" width="50px" th:src="@{/adminpanel/app-assets/images/portrait/small/user.png}">
										        		</th>
										        	</tr>
										        </tbody>
										    </table>
										</div>
                                    	<nav aria-label="Pagination">
											<ul class="pagination justify-content-center">
												<li class="page-item" th:classappend="${prev == 0 ? 'disabled': ''}">
													<a class="page-link" th:href="@{|/admin/clients?page=${prev}|}">Anterior</a>
												</li>
												<li class="page-item" th:each="page : ${pages}" th:classappend="${current == page ? 'active': ''}">
													<a class="page-link" th:href="@{|/admin/clients?page=${page}|}" th:text="${page}"></a>
												</li>
												<li class="page-item" th:classappend="${current == last ? 'disabled': ''}">
													<a class="page-link" th:href="@{|/admin/clients?page=${next}|}">Siguiente</a>
												</li>
											</ul>
										</nav>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </section>
	                <!-- users list ends -->
				</div>
            </div>
        </div>
	</div>
    <!-- END: Content-->
	
	<footer th:replace="layout/adminpanel :: footer">
	</footer>

	<div th:replace="layout/adminpanel :: scripts">
	</div>
	
	<!-- BEGIN: Datatable JS-->
	<!--<script th:src="@{/admin/scripts/user.js}"></script>-->
	<!-- END: Datatable JS-->
</body>

</html>