<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/ecomerce :: head(pageTitle='Checkout')">
</head>

<style>

.form-control {
    border-radius: 0;
    box-shadow: none;
    border-color: #d2d6de
}

.select2-hidden-accessible {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

.select2-container--default .select2-selection--single,
.select2-selection .select2-selection--single {
    border: 1px solid #d2d6de;
    border-radius: 0;
    padding: 6px 12px;
    height: 34px
}

.select2-container--default .select2-selection--single {
    background-color: #f7f7f7;
    border: 1px solid #aaa;
    border-radius: 4px
}

.select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 28px;
    user-select: none;
    -webkit-user-select: none
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-right: 10px
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 0;
    padding-right: 0;
    height: auto;
    margin-top: 3px
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 28px
}

.select2-container--default .select2-selection--single,
.select2-selection .select2-selection--single {
    border: 1px solid #d2d6de;
    border-radius: 0 !important;
    padding: 6px 12px;
    height: 48px !important
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 26px;
    position: absolute;
    top: 10px !important;
    right: 1px;
    width: 20px
}
</style>

<body>

	<div class="wrapper">

		<header th:replace="layout/ecomerce :: header(categorymenu='')">
		</header>
		
		<!-- breadcrumb area start -->
	    <div class="breadcrumb-area">
	        <div class="container">
	            <div class="row">
	                <div class="col-12">
	                    <div class="breadcrumb-wrap">
	                        <nav aria-label="breadcrumb">
	                            <ul class="breadcrumb">
	                                <li class="breadcrumb-item"><a th:href="@{/home}">Home</a></li>
	                                <li class="breadcrumb-item"><a th:href="@{/shop}">Compras</a></li>
	                                <li class="breadcrumb-item"><a th:href="@{/cart}">Carrito</a></li>
	                                <li class="breadcrumb-item active" aria-current="page">Checkout</li>
	                            </ul>
	                        </nav>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	    <!-- breadcrumb area end -->
	    <form th:action="@{/checkout}" id="form-checkout" method="post">
		    <!-- checkout main wrapper start -->
		    <div class="checkout-page-wrapper">
		        <div class="container">	
		            <div class="row">
		                <!-- Checkout Billing Details -->
		                <div class="col-lg-6">
		                    <div class="checkout-billing-details-wrap">
		                        <h2>Detalles de facturación</h2>
		                        <div class="billing-form-wrap">
		                        
		                                <div class="row">
		                                	<input name="id" type="hidden" id="id" th:value="${userId}" placeholder="Apellidos"/>
		                                    <div class="col-md-6">
		                                        <div class="single-input-item">
		                                            <label for="f_name" class="required">Nombres</label>
		                                            <input name="firstName" type="text" id="f_name" th:value="${userFirstName}" placeholder="Nombres" required />
		                                        </div>
		                                    </div>
		
		                                    <div class="col-md-6">
		                                        <div class="single-input-item">
		                                            <label for="l_name" class="required">Apellidos</label>
		                                            <input name="lastName" type="text" id="l_name" th:value="${userLastName}" placeholder="Apellidos" required />
		                                        </div>
		                                    </div>
		                                </div>
		
		                                <div class="single-input-item">
		                                    <label for="email" class="required">Correo electrónico</label>
		                                    <input name="email" type="email" id="email" th:value="${userEmail}" placeholder="Correo electrónico" required />
		                                </div>
		
		                                <!--<div class="single-input-item">
		                                    <label for="country" class="required">País</label>
		                                    <select class="form-control select2-hidden-accessible" id="country" style="width: 100%;" tabindex="-1" aria-hidden="true">
		                                    </select>
		                                </div> -->
		                                
		                               <div class="row">
		                                    <div class="col-md-6">
		                                        <div class="single-input-item">
				                                    <label for="country" class="required">Departamento</label>
				                                    <select class="form-control select2-hidden-accessible" id="departamento" style="width: 100%;" tabindex="-1" aria-hidden="true" required="true">
				                                    	<option value="" disabled selected>Seleccione un departamento</option>
				                                    </select>
				                                </div>
		                                    </div>
		                                    <input type="hidden" name="departament" id="departament"/>
		
		                                    <div class="col-md-6">
				                            	<div class="single-input-item">
				                                    <label for="country" class="required">Provincia</label>
				                                    <select class="form-control select2-hidden-accessible" id="provincia" style="width: 100%;" tabindex="-1" aria-hidden="true" required>
				                                    </select>
				                                </div>
		                                    </div>
		                                    <input type="hidden" name="province" id="province"/>
		                                    
		                                </div>
										
										<div class="single-input-item">
		                                    <label for="country" class="required">Distrito</label>
		                                    <select class="form-control select2-hidden-accessible" id="distrito" style="width: 100%;" tabindex="-1" aria-hidden="true" required>
		                                    </select>
		                                    <input type="hidden" name="district" id="district"/>
		                                </div>
	
		                                <div class="single-input-item">
		                                    <label for="street-address" class="required pt-20">Dirección</label>
		                                    <input name="address" type="text" id="street-address" placeholder="Dirección" required/>
		                                </div>
		
		                                <div class="single-input-item">
		                                    <input name="addressOptional" type="text" placeholder="Dirección 2 (Opcional)" />
		                                </div>
		                                
		                                <div class="row">
		                                    <div class="col-md-6">
				                                <div class="single-input-item">
				                                    <label for="postcode">Código postal</label>
				                                    <input name="codePostal" type="text" id="postcode" placeholder="Código postal"/>
				                                </div>
		                                    </div>
		
		                                    <div class="col-md-6">
				                                <div class="single-input-item">
				                                    <label for="phone" class="required">Celular</label>
				                                    <input name="phone" type="tel" id="phone" pattern="[0-9]{9}" maxlength="9" placeholder="Celular" required/>
				                                </div>
		                                    </div>
		                                </div>
		
		                                <div class="single-input-item">
		                                    <label for="ordernote">Nota de pedido</label>
		                                    <textarea name="note" id="ordernote" cols="30" rows="3" placeholder="Notas sobre su pedido, p. Ej. notas especiales para la entrega."></textarea>
		                                </div>
		                            
		                        </div>
		                    </div>
		                </div>
		
		                <!-- Order Summary Details -->
		                <div class="col-lg-6">
		                    <div class="order-summary-details mt-md-26 mt-sm-26">
		                        <h2>Su resumen del pedido</h2>
		                        <div class="order-summary-content mb-sm-4">
		                            <!-- Order Summary Table -->
		                            <div class="order-summary-table table-responsive text-center">
		                                <table class="table table-bordered">
		                                    <thead class="thead-dark">
		                                        <tr>
		                                            <th>Productos</th>
		                                            <th>Total</th>
		                                        </tr>
		                                    </thead>
		                                    <tbody>
		                                        <tr th:each="item : ${cart}">
		                                            <td><a th:href="@{/shop/viewproduct/{id}(id=${item.id})}" th:text="${item.name}"><strong> × 1</strong></a></td>
		                                            <td th:text="|${item.price} x ${item.quantity}|"></td>
		                                        </tr>
		                                    </tbody>
		                                    <tfoot>
		                                        <tr>
		                                            <td>Sub Total</td>
		                                            <td><strong th:text="|S/ ${total}|"></strong></td>
		                                        </tr>
		                                        <tr>
		                                            <td>Costo de Envío</td>
		                                            <td><strong class="text-success">Envío gratis</strong></td>
		                                        </tr>
		                                        <tr>
		                                            <td>Monto total</td>
		                                            <td><strong th:text="|S/ ${total}|"></strong></td>
		                                        </tr>
		                                    </tfoot>
		                                </table>
		                            </div>
		                            <!-- Order Payment Method -->
		                            <div class="order-payment-method">
		                                <div class="single-payment-method">
		                                    <div class="payment-method-name">
		                                        <div class="custom-control custom-radio">
		                                            <input name="paymentmethod" type="radio" id="directbank" value="BANK" class="custom-control-input" checked/>
		                                            <label class="custom-control-label" for="directbank">Transferencia bancaria directa</label>
		                                        </div>
		                                    </div>
		                                    <div class="payment-method-details" data-method="BANK">
		                                        <p>Realice su pago directamente en nuestra cuenta bancaria. Utilice su ID de pedido como referencia de pago. 
		                                        Su pedido no se enviará hasta que los fondos se hayan liquidado en nuestra cuenta.</p>
		                                    </div>
		                                </div>
		                                <div class="single-payment-method">
		                                    <div class="payment-method-name">
		                                        <div class="custom-control custom-radio">
		                                            <input name="paymentmethod" type="radio" id="paypalpayment" value="IZIPAY" class="custom-control-input" />
		                                            <label class="custom-control-label" for="paypalpayment">Izi Pay<img th:src="@{/ecomerce/assets/img/paypal-card.jpg}" class="img-fluid paypal-card" alt="Paypal" /></label>
		                                        </div>
		                                        
		                                    </div>
		                                    <div class="payment-method-details" data-method="IZIPAY">
		                                        <p>Pague a través de Izi Pay; puede pagar con su tarjeta de crédito o débito si no tiene una cuenta Izi Pay.</p>
		                                        <br>
		                                        <!-- payment form -->
												<div id="paymentForm" class="kr-embedded" style="display: none;">
													
										            <div class="kr-pan"></div>
										            <div class="kr-expiry"></div>
										            <div class="kr-security-code"></div>
										            										            
										            <button class="kr-payment-button"></button>
										            
										            <div class="kr-form-error"></div>
										        </div>
										        
		                                    </div>
		                                </div>
		                                <div class="summary-footer-area">
		                                    <div class="custom-control custom-checkbox mb-14">
		                                        <input type="checkbox" class="custom-control-input" id="terms" required />
		                                        <label class="custom-control-label" for="terms">He leído y estoy de acuerdo con el sitio web. <a
		                                                th:href="@{/home}">Términos y condiciones.</a></label>
		                                    </div>
		                                    <button form="form-checkout" type="submit" class="check-btn sqr-btn">Realizar pedido</button>
									        
		                                </div>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
		    <!-- checkout main wrapper end -->
	  	</form>
	  	
		<div th:replace="layout/ecomerce :: brand">
		</div>

		<footer th:replace="layout/ecomerce :: footer">
		</footer>

	</div>

	<div th:replace="layout/ecomerce :: scroll">
	</div>

	<div th:replace="layout/ecomerce :: scripts">
	</div>
	
	<script th:src="@{/client/scripts/checkout.js}"></script>
	<script th:src="@{/ecomerce/assets/js/es.js}" defer></script>

</body>

</html>