<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/ecomerce :: head(pageTitle='Checkout IZI PAY')">
</head>

<style>

    .preloader {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background: white;
        z-index: 99999999;
    }

    #preloader-logo {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    .loading-msg {
        width: 100%;
        font-size: 0.75em;
        color: #555;
        position: absolute;
        bottom: 10%;
        left: 50%;
        transform: translate(-50%, 50%);
        text-align: center;
    }

	.spinner {
	  width: 80px;
	  height: 80px;
	  border: 2px solid #f3f3f3;
	  border-top: 3px solid #0088cf;
	  border-radius: 100%;
	  position: absolute;
	  top: 0;
	  bottom: 0;
	  left: 0;
	  right: 0;
	  margin: auto;
	  animation: spin 1s infinite linear;
	}

    @keyframes spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }

    #loading-msg {
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 40%;
        text-align: center;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: #333;
        font-size: 0.8em;
    }
    
</style>

<body>

	<div class="preloader">
        <div class="spinner"></div>
        <span id="loading-msg"></span>
    </div>

	<div class="wrapper">

		<header th:replace="layout/ecomerce :: header(categorymenu='')">
		</header>
		
		<!-- breadcrumb area start -->
	    <div class="breadcrumb-area">
	        <div class="container">
	            <div class="row">
	                <div class="col-12">
	                    <div class="breadcrumb-wrap">
	                        <nav aria-label="breadcrumb">
	                            <ul class="breadcrumb">
	                                <li class="breadcrumb-item"><a th:href="@{/home}">Home</a></li>
	                                <li class="breadcrumb-item"><a th:href="@{/shop}">Compras</a></li>
	                                <li class="breadcrumb-item"><a th:href="@{/cart}">Carrito</a></li>
	                                <li class="breadcrumb-item"><a th:href="@{/checkout}">Checkout</a></li>
	                                <li class="breadcrumb-item active" aria-current="page">IZI PAY</li>
	                            </ul>
	                        </nav>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	    <!-- breadcrumb area end -->
	    <form th:action="@{/checkout}" id="form-checkout" method="post">
		    <!-- checkout main wrapper start -->
		    <div class="checkout-page-wrapper">
		        <div class="container">	
		            <div class="row">
		                <!-- Checkout Billing Details -->
		                <div class="col-lg-6">
		                    <div class="checkout-billing-details-wrap">
		                        <h2>Ingresa los datos de tu tarjeta</h2>
		                        <br>
		                        <div class="billing-form-wrap">
									<div id="paymentForm" class="kr-embedded" style="display: none;">
							            <div class="kr-pan"></div>
							            <div class="kr-expiry"></div>
							            <div class="kr-security-code"></div>							            
							            <button class="kr-payment-button"></button>
							            <div class="kr-form-error"></div>
							        </div>
		                        </div>
		                    </div>
		                    <input type="hidden" id="id" th:value="${id}"/>
		                    <input type="hidden" id="firstName" th:value="${firstName}"/>
		                    <input type="hidden" id="lastName" th:value="${lastName}"/>
		                    <input type="hidden" id="email" th:value="${email}"/>
		                    <input type="hidden" id="country_order" th:value="PE"/>
		                    <input type="hidden" id="departament" th:value="${departament}"/>
		                    <input type="hidden" id="province" th:value="${province}"/>
		                    <input type="hidden" id="district" th:value="${district}"/>
		                    <input type="hidden" id="address" th:value="${address}"/>
		                    <input type="hidden" id="addressOptional" th:value="${addressOptional}"/>
		                    <input type="hidden" id="codePostal" th:value="${codePostal}"/>
		                    <input type="hidden" id="phone" th:value="${phone}"/>
		                    <input type="hidden" id="note" th:value="${note}"/>
		                    <input type="hidden" id="paymentmethod" th:value="${paymentmethod}"/>
		                    <input type="hidden" id="total" th:value="${total}"/>
		                </div>
		
		                <!-- Order Summary Details -->
		                <div class="col-lg-6">
		                    <div class="order-summary-details mt-md-26 mt-sm-26">
		                        <h2>Su resumen del pedido</h2>
		                        <div class="order-summary-content mb-sm-4">
		                            <!-- Order Summary Table -->
		                            <div class="order-summary-table table-responsive text-center">
		                                <table class="table table-bordered">
		                                    <thead class="thead-dark">
		                                        <tr>
		                                            <th>Productos</th>
		                                            <th>Total</th>
		                                        </tr>
		                                    </thead>
		                                    <tbody>
		                                        <tr th:each="item : ${cart}">
		                                            <td><a th:href="@{/shop/viewproduct/{id}(id=${item.id})}" th:text="${item.name}"><strong> × 1</strong></a></td>
		                                            <td th:text="|${item.price} x ${item.quantity}|"></td>
		                                        </tr>
		                                    </tbody>
		                                    <tfoot>
		                                        <tr>
		                                            <td>Sub Total</td>
		                                            <td><strong th:text="|S/ ${total}|"></strong></td>
		                                        </tr>
		                                        <tr>
		                                            <td>Costo de Envío</td>
		                                            <td><strong class="text-success">Envío gratis</strong></td>
		                                        </tr>
		                                        <tr>
		                                            <td>Monto total</td>
		                                            <td><strong th:text="|S/ ${total}|"></strong></td>
		                                        </tr>
		                                    </tfoot>
		                                </table>
		                            </div>
		                        </div>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
		    <!-- checkout main wrapper end -->
	  	</form>
	  	
		<div th:replace="layout/ecomerce :: brand">
		</div>

		<footer th:replace="layout/ecomerce :: footer">
		</footer>

	</div>

	<div th:replace="layout/ecomerce :: scroll">
	</div>

	<div th:replace="layout/ecomerce :: scripts">
	</div>
	
	<script 
	   src="https://static.micuentaweb.pe/static/js/krypton-client/V4.0/stable/kr-payment-form.min.js" 
	   kr-public-key="89289758:testpublickey_TxzPjl9xKlhM0a6tfSVNilcLTOUZ0ndsTogGTByPUATcE" 
	   kr-post-url-success="/tecnotac/thanks">
	</script>

	<script src="https://static.micuentaweb.pe/static/js/krypton-client/V4.0/ext/classic.js"></script>
	
	<script th:src="@{/client/scripts/izipay.js}"></script>
	<script th:src="@{/client/scripts/checkout.js}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/i18n/es.js" defer></script>

</body>

</html>