<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="head(pageTitle)">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>[[${pageTitle}]]</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="tecnotac">

	<!-- Site title -->
	<title>Tecnotac - Tienda de telefonía celular</title>
	<!-- Favicon -->
	<link th:href="@{/adminpanel/app-assets/images/ico/ico.ico}" type="image/x-icon" rel="shortcut icon" />
	<!-- Bootstrap CSS -->
	<link th:href="@{/ecomerce/assets/css/bootstrap.min.css}" rel="stylesheet">
	<!-- Font-Awesome CSS -->
	<link th:href="@{/ecomerce/assets/css/font-awesome.min.css}" rel="stylesheet">
	<!-- helper class css -->
	<link th:href="@{/ecomerce/assets/css/helper.min.css}" rel="stylesheet">
	<!-- Plugins CSS -->
	<link th:href="@{/ecomerce/assets/css/plugins.css}" rel="stylesheet">
	<!-- Main Style CSS -->
	<link th:href="@{/ecomerce/assets/css/style.css}" rel="stylesheet">
	<link th:href="@{/ecomerce/assets/css/skin-default.css}" rel="stylesheet" id="galio-skin">
	<!-- Select2 -->
	<link th:href="@{/ecomerce/assets/css/select2.min.css}" rel="stylesheet"/>
	<script th:src="@{/ecomerce/assets/js/select2.min.js}" defer></script>
	<!-- IZIPAY -->
	<link th:href="@{/ecomerce/assets/css/classic-reset.css}" rel="stylesheet">
	<link th:href="@{/ecomerce/assets/css/typehead.css}" rel="stylesheet">
</head>

<body>

	<div class="wrapper">
		<!-- header area start -->
		<header th:fragment="header(categorymenu)">
			<!-- header top start -->
			<div class="header-top-area bg-gray text-center text-md-left">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 col-md-5">
							<div class="header-call-action">
								<a href="javascript:void(0);">
									<i class="fa fa-envelope"></i>
									tecnotacstore@gmail.com
								</a>
								<a href="javascript:void(0);">
									<i class="fa fa-phone"></i>
									(+51) 978 106 957
								</a>
							</div>
						</div>
						<div class="col-lg-6 col-md-7">
							<div class="header-top-right float-md-right float-none">
								<nav>
									<ul>
										<li>
											<div class="dropdown header-top-dropdown">
												<a class="dropdown-toggle" id="myaccount" data-toggle="dropdown"
													aria-haspopup="true" aria-expanded="false">
													Cuenta 
													<i class="fa fa-angle-down"></i>
												</a>
												<div class="dropdown-menu" aria-labelledby="myaccount">
													<a sec:authorize="isAuthenticated()" class="dropdown-item" th:href="@{/myaccount}">mi cuenta</a>
													<a sec:authorize="!isAuthenticated()" class="dropdown-item" th:href="@{/login}">Iniciar sesión</a>
													<a sec:authorize="isAuthenticated()" class="dropdown-item" th:href="@{/logout}">Cerrar sesión</a>
													<a sec:authorize="!isAuthenticated()" class="dropdown-item" th:href="@{/register}">Registrarse</a>
												</div>
											</div>
										</li>
										<!--<li>
											<a th:href="@{/whitelist}">Mi lista</a>
										</li>-->
										<li>
											<a th:href="@{/cart}">Mi carrito</a>
										</li>
										<li>
											<a th:href="@{/checkout}">Checkout</a>
										</li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- header top end -->

			<!-- header middle start -->
			<div class="header-middle-area pt-20 pb-20 bg-black">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-lg-3">
							<div class="brand-logo row align-items-center">
								<a th:href="@{/home}">
									<img height="auto" max-width="100%" width="90%"
										th:src="@{/adminpanel/app-assets/images/logo/TECNOTAC-COLOR.png}"
										alt="brand logo">
								</a>
							</div>
						</div> <!-- end logo area -->
						<div class="col-lg-9">
							<div class="header-middle-right">

								<div class="header-middle-block">
									<div class="header-middle-searchbox">
										<form id="form_search" th:action="@{/search}">
											<input id="search" name="filter" class="form-control typehead" type="text" placeholder="Buscar...">
											<button type="submit" class="search-btn"><i class="fa fa-search"></i></button>
										</form>
									</div>
									<div class="header-mini-cart">
										<div class="mini-cart-btn">
											<i class="fa fa-shopping-cart"></i>
											<span class="cart-notification" th:text="${cartCount}" ></span>
										</div>
										<div class="cart-total-price">
											<span>total</span>
											<p class="text-white" th:text="|S/ ${total}|"></p>
										</div>
										<ul class="cart-list">
											<li th:each="item, iStat : ${cart}">
												<div class="cart-img">
													<a th:href="@{/shop/{parent}/viewproduct/{id}(id=${item.id},parent=${item.parentCategory})}">
														<img th:src="@{${'/productimgs/'+ item.nameImage}}" alt="">
													</a>
												</div>
												<div class="cart-info">
													<h4><a th:href="@{/shop/{parent}/viewproduct/{id}(id=${item.id},parent=${item.parentCategory})}" th:text="${item.name}"></a></h4>
													<span th:text="|${item.price} x ${item.quantity}|"></span>
												</div>
												<div class="del-icon">
													<a th:href="@{/cart/removeItem/{index}(index=${iStat.index})}"><i class="fa fa-times"></i></a>
												</div>
											</li>
											<li class="mini-cart-price">
												<span class="subtotal">subtotal : </span>
												<span class="subtotal-price" th:text="${total}"></span>
											</li>
											<li class="checkout-btn">
												<a th:href="@{/checkout}">Checkout</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- header middle end -->

            <!-- main menu area start -->
            <div class="main-header-wrapper bdr-bottom1">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="main-header-inner">
                                <div class="category-toggle-wrap">
                                    <div class="category-toggle">
                                        categorías
                                        <div class="cat-icon">
                                            <i class="fa fa-angle-down"></i>
                                        </div>
                                    </div>
                                    <nav class="category-menu" th:classappend="${categorymenu}">
                                        <ul>    
                                            <li th:if="${category.parent == null}" th:each="category : ${categories}" 
                                            	class="menu-item-has-children">
                                            	<a th:href="@{/shop/categoryParent/{id}(id=${category.id})}">
                                             		<i th:class="|fa fa-${category.icon}|"></i>
                                             		<span th:text="${category.name}"></span>
                                             	</a>
                                             	<ul class="category-mega-menu">
                                             		<li 
                                             			th:each="subcategory1: ${subcategories}" 
                                             			th:if="${subcategory1.parent.parent == null && subcategory1.parent.id == category.id}" 
                                             			class="menu-item-has-children">
                                             			<a th:href="@{/shop/subcategory1/{id}(id=${subcategory1.id})}" th:text="${subcategory1.name}"></a>
                                             			<ul>
                                             				<li th:each="subcategory2: ${subcategories}"
                                             					th:if="${subcategory2.parent.id == subcategory1.id}">
                                             					<a th:href="@{/shop/category/{id}(id=${subcategory2.id})}" th:text="${subcategory2.name}"></a>
                                             				</li>
                                             			</ul>
                                             		</li>
                                             	</ul>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                                <div class="main-menu">
                                    <nav id="mobile-menu">
                                        <ul>
                                            <li th:classappend="|${#httpServletRequest.getRequestURI() == '/tecnotac/home' ? 'active':''} 
                                            					${#httpServletRequest.getRequestURI() == '/tecnotac/' ? 'active':''}|">
                                            	<a th:href="@{/home}"><i class="fa fa-home"></i>Home</a>
                                            </li>
                                            <li th:classappend="${#httpServletRequest.getRequestURI() == '/tecnotac/shop' ? 'active':''}">
                                            	<a th:href="@{/shop}"><i class="fa fa-shopping-cart"></i>Compras</a></li>
                                            <li th:classappend="${#httpServletRequest.getRequestURI() == '/tecnotac/contact' ? 'active':''}">
                                            	<a th:href="@{/contact}"><i class="fa fa-map"></i>Contacto</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 d-block d-lg-none">
                            <div class="mobile-menu"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- main menu area end -->

		</header>
		<!-- header area end -->

		<!-- CONTENIDO -->
		<div th:fragment="content">
		</div>

		<!-- brand area start -->
		<div th:fragment="brand" class="brand-area pt-28 pb-30">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="section-title mb-30">
							<div class="title-icon">
								<i class="fa fa-crop"></i>
							</div>
							<h3>Populares Marcas</h3>
						</div> <!-- section title end -->
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="brand-active slick-padding slick-arrow-style">
							<div class="brand-item text-center">
								<a href="javascript:void(0);"><img height="80"
										th:src="@{/ecomerce/assets/img/brand/huawei.png}" alt=""></a>
							</div>
							<div class="brand-item text-center">
								<a href="javascript:void(0);"><img height="80"
										th:src="@{/ecomerce/assets/img/brand/realme.jpg}" alt=""></a>
							</div>
							<div class="brand-item text-center">
								<a href="javascript:void(0);"><img height="80"
										th:src="@{/ecomerce/assets/img/brand/haylou.png}" alt=""></a>
							</div>
							<div class="brand-item text-center">
								<a href="javascript:void(0);"><img height="80"
										th:src="@{/ecomerce/assets/img/brand/xiaomi.jpg}" alt=""></a>
							</div>
							<div class="brand-item text-center">
								<a href="javascript:void(0);"><img height="80"
										th:src="@{/ecomerce/assets/img/brand/mijia.png}" alt=""></a>
							</div>
							<div class="brand-item text-center">
								<a href="javascript:void(0);"><img height="80"
										th:src="@{/ecomerce/assets/img/brand/amazfit.jpg}" alt=""></a>
							</div>
							<div class="brand-item text-center">
								<a href="javascript:void(0);"><img height="80"
										th:src="@{/ecomerce/assets/img/brand/oneplus.jpg}" alt=""></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- brand area end -->

		<!-- footer area start -->
		<footer th:fragment="footer">
			<!-- footer top start -->
			<div class="footer-top bg-black pt-14 pb-14">
				<div class="container">
					<div class="footer-top-wrapper">
						<div class="newsletter__wrap">
							<div class="newsletter__title">
								<div class="newsletter__icon">
									<i class="fa fa-envelope"></i>
								</div>
								<div class="newsletter__content">
									<h3>suscribirse al boletín</h3>
									<p>Promociones, nuevos productos y ventas.</p>
								</div>
							</div>
							<div class="newsletter__box">
								<form id="mc-form">
									<input type="email" id="mc-email" autocomplete="off" placeholder="Email">
									<button id="mc-submit">subscribirse!</button>
								</form>
							</div>
							<!-- mailchimp-alerts Start -->
							<div class="mailchimp-alerts">
								<div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
								<div class="mailchimp-success"></div><!-- mailchimp-success end -->
								<div class="mailchimp-error"></div><!-- mailchimp-error end -->
							</div>
							<!-- mailchimp-alerts end -->
						</div>
						<div class="social-icons">
							<a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Facebook"><i
									class="fa fa-facebook"></i></a>
							<a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Twitter"><i
									class="fa fa-twitter"></i></a>
							<a href="javascript:void(0);" data-toggle="tooltip" data-placement="top"
								title="Instagram"><i class="fa fa-instagram"></i></a>
							<a href="javascript:void(0);" data-toggle="tooltip" data-placement="top"
								title="Google-plus"><i class="fa fa-google-plus"></i></a>
							<a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Youtube"><i
									class="fa fa-youtube"></i></a>
						</div>
					</div>
				</div>
			</div>
			<!-- footer top end -->

			<!-- footer main start -->
			<div class="footer-widget-area pt-40 pb-38 pb-sm-10">
				<div class="container">
					<div class="row">
						<div class="col-md-3 col-sm-6">
							<div class="footer-widget mb-sm-30">
								<div class="widget-title mb-10 mb-sm-6">
									<h4>contacto</h4>
								</div>
								<div class="widget-body">
									<ul class="location">
										<li><i class="fa fa-envelope"></i>tecnotacstore@gmail.com</li>
										<li><i class="fa fa-phone"></i>(+51) 978 106 957</li>
										<li><i class="fa fa-map-marker"></i>Tacna, Av. San Martin 816, Galería Heroica Plaza Interior C-04</li>
									</ul>
									<a class="map-btn" th:href="@{/contact}">Visualizar Mapa</a>
								</div>
							</div> <!-- single widget end -->
						</div> <!-- single widget column end -->
						<div class="col-md-3 col-sm-6">
							<div class="footer-widget mb-sm-30">
								<div class="widget-title mb-10 mb-sm-6">
									<h4>mi cuenta</h4>
								</div>
								<div class="widget-body">
									<ul>
										<li><a th:href="@{/myaccount}">mi cuenta</a></li>
										<li><a th:href="@{/cart}">mi carrito</a></li>
										<li><a th:href="@{/checkout}">checkout</a></li>
										<!--<li><a th:href="@{/myaccount}">mi lista</a></li>-->
										<li><a th:href="@{/login}">login</a></li>
									</ul>
								</div>
							</div> <!-- single widget end -->
						</div> <!-- single widget column end -->
						<div class="col-md-3 col-sm-6">
							<div class="footer-widget mb-sm-30">
								<div class="widget-title mb-10 mb-sm-6">
									<h4>Otros</h4>
								</div>
								<div class="widget-body">
									<ul>
										<li><a th:href="@{/home}">Home</a></li>
										<li><a th:href="@{/shop}">Tienda</a></li>
										<li><a th:href="@{/contact}">Contacto</a></li>
										<li><a href="https://www.facebook.com/TecnotacStore/">Facebook</a></li>
									</ul>
								</div>
							</div> <!-- single widget end -->
						</div>
						<!-- single widget column end -->
						<!--<div class="col-md-3 col-sm-6">
							<div class="footer-widget mb-sm-30">
								<div class="widget-title mb-10 mb-sm-6">
									<h4>product tags</h4>
								</div>
								<div class="widget-body">
									<ul>
										<li><a href="javascript:void(0);">computer</a></li>
										<li><a href="javascript:void(0);">camera</a></li>
										<li><a href="javascript:void(0);">smart phone</a></li>
										<li><a href="javascript:void(0);">watch</a></li>
										<li><a href="javascript:void(0);">tablet</a></li>
									</ul>
								</div>
							</div> 
						</div> -->
						<!-- single widget column end -->
					</div>
				</div>
			</div>
			<!-- footer main end -->

			<!-- footer bootom start -->
			<div class="footer-bottom-area bg-gray pt-20 pb-20">
				<div class="container">
					<div class="footer-bottom-wrap">
						<div class="copyright-text">
							<p><a target="_blank" href="http://www.nibble.pe">Copyright © 2021 All rights reserved</a>
							</p>
						</div>
						<div class="payment-method-img">
							<img th:src="@{/ecomerce/assets/img/payment.png}" alt="">
						</div>
					</div>
				</div>
			</div>
			<!-- footer bootom end -->

		</footer>
		<!-- footer area end -->

	</div>

	<!-- Quick view modal start -->
	<div th:fragment="quickviewmodal" class="modal" id="quick_view">
		<div class="modal-dialog modal-lg modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<div class="product-details-inner">
						<div class="row">
							<div class="col-lg-5">
								<div class="product-large-slider slick-arrow-style_2 mb-20">
									<div class="pro-large-img1">
										<img src="" alt="" />
									</div>
									<div class="pro-large-img2">
										<img src="" alt="" />
									</div>
									<div class="pro-large-img3">
										<img src="" alt="" />
									</div>
									<div class="pro-large-img4">
										<img src="" alt="" />
									</div>
									<div class="pro-large-img5">
										<img src="" alt="" />
									</div>
								</div>
								<div id="ajax_pro_nav" class="pro-nav slick-padding2 slick-arrow-style_2">
									<div class="pro-nav-thumb1">
										<img src="" alt="" />
									</div>
									<div class="pro-nav-thumb2">
										<img src="" alt="" />
									</div>
									<div class="pro-nav-thumb3">
										<img src="" alt="" />
									</div>
									<div class="pro-nav-thumb4">
										<img src="" alt="" />
									</div>
									<div class="pro-nav-thumb5">
										<img src="" alt="" />
									</div>
								</div>
							</div>
							<div class="col-lg-7">
								<div class="product-details-des mt-md-34 mt-sm-34">
									<h3><a id="product_name" href="#"></a></h3>
									<!--<div class="ratings">
										<span class="good"><i class="fa fa-star"></i></span>
										<span class="good"><i class="fa fa-star"></i></span>
										<span class="good"><i class="fa fa-star"></i></span>
										<span class="good"><i class="fa fa-star"></i></span>
										<span><i class="fa fa-star"></i></span>
										<div class="pro-review">
											<span>1 review(s)</span>
										</div>
									</div>-->
									<div class="availability mt-10">
										<h5>Disponible:</h5>
										<span id="product_stock"></span>
									</div>
									<div class="pricebox">
										<span id="product_price" class="regular-price"></span>
									</div>
									<p id="product_description"></p>
									<!--<div class="quantity-cart-box d-flex align-items-center mt-20">
										<div class="quantity">
											<div class="pro-qty"><input type="text" value="1"></div>
										</div>
										<div class="action_link">
											<a class="buy-btn" href="javascript:void(0);">add to cart<i
													class="fa fa-shopping-cart"></i>
											</a>
										</div>
									</div>-->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Quick view modal end -->

	<!-- Scroll to top start -->
	<div th:fragment="scroll" class="scroll-top not-visible">
		<i class="fa fa-angle-up"></i>
	</div>
	<!-- Scroll to Top End -->

	<div th:fragment="scripts">
		<!--All jQuery, Third Party Plugins & Activation (main.js) Files-->
		<script th:src="@{/ecomerce/assets/js/vendor/modernizr-3.6.0.min.js}"></script>
		<!-- Jquery Min Js -->
		<script th:src="@{/ecomerce/assets/js/vendor/jquery-3.3.1.min.js}"></script>
		<!-- Popper Min Js -->
		<script th:src="@{/ecomerce/assets/js/vendor/popper.min.js}"></script>
		<!-- Bootstrap Min Js -->
		<script th:src="@{/ecomerce/assets/js/vendor/bootstrap.min.js}"></script>
		<!-- Plugins Js-->
		<script th:src="@{/ecomerce/assets/js/plugins.js}"></script>
		<!-- Ajax Mail Js -->
		<script th:src="@{/ecomerce/assets/js/ajax-mail.js}"></script>
		<!-- Active Js -->
		<script th:src="@{/ecomerce/assets/js/main.js}"></script>
		<!-- Switcher JS -->
		<script th:src="@{/ecomerce/assets/js/switcher.js}"></script>
		<!-- TypeHead -->
		<script th:src="@{/ecomerce/assets/js/typeahead.bundle.js}"></script>
		<script th:src="@{/client/scripts/search-product.js}"></script>
	</div>

</body>

</html>