<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/ecomerce :: head(pageTitle='Mi cuenta')">
</head>

<body>

	<div class="wrapper">

		<header th:replace="layout/ecomerce :: header(categorymenu='')">
		</header>

		<!-- CONTENIDO -->

		<div th:fragment="content">
			<!-- breadcrumb area start -->
		    <div class="breadcrumb-area">
		        <div class="container">
		            <div class="row">
		                <div class="col-12">
		                    <div class="breadcrumb-wrap">
		                        <nav aria-label="breadcrumb">
		                            <ul class="breadcrumb">
		                                <li class="breadcrumb-item"><a th:href="@{/home}">Home</a></li>
		                                <li class="breadcrumb-item active" aria-current="page">Mi cuenta</li>
		                            </ul>
		                        </nav>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
		    <!-- breadcrumb area end -->
		    
			<!-- my account wrapper start -->
		    <div class="my-account-wrapper">
		        <div class="container">
		            <div class="row">
		                <div class="col-lg-12">
		                    <!-- My Account Page Start -->
		                    <div class="myaccount-page-wrapper">
		                        <!-- My Account Tab Menu Start -->
		                        <div class="row">
		                            <div class="col-lg-3 col-md-4">
		                                <div class="myaccount-tab-menu nav" role="tablist">
		                                    <a href="#dashboad" class="active" data-toggle="tab"><i class="fa fa-dashboard"></i>
		                                        Dashboard</a>
		                                    <a href="#orders" data-toggle="tab"><i class="fa fa-cart-arrow-down"></i> Mis pedidos</a>
		                                    <!-- <a href="#account-info" data-toggle="tab"><i class="fa fa-user"></i> Mi perfil</a> -->
		                                    <a th:href="@{/logout}"><i class="fa fa-sign-out"></i> Cerrar sesión</a>
		                                </div>
		                            </div>
		                            <!-- My Account Tab Menu End -->
		
		                            <!-- My Account Tab Content Start -->
		                            <div class="col-lg-9 col-md-8">
		                                <div class="tab-content" id="myaccountContent">
		                                    <!-- Single Tab Content Start -->
		                                    <div class="tab-pane fade show active" id="dashboad" role="tabpanel">
		                                        <div class="myaccount-content">
		                                            <h3>Dashboard</h3>
		                                            <div class="welcome">
		                                            	<p th:text="${#authentication.principal.getEmail()}"></p>                                     
		                                                <p th:object="${userDTO}">
		                                                	Hola, <strong th:text="|*{firstName} *{lastName}|"></strong> 
		                                                	(Si no es <strong th:text="|*{firstName} *{lastName}!|"></strong>
		                                                	<a th:href="@{/logout}" class="logout"> Cerrar sesión</a>)
		                                                </p>
		                                            </div>
		                                            <p class="mb-0">Desde el panel de su cuenta. puede verificar y ver fácilmente sus pedidos recientes.</p>
		                                        </div>
		                                    </div>
		                                    <!-- Single Tab Content End -->
		
		                                    <!-- Single Tab Content Start -->
		                                    <div class="tab-pane fade" id="orders" role="tabpanel">
		                                        <div class="myaccount-content">
		                                            <h3>Mis Pedidos</h3>
		                                            <div class="myaccount-table table-responsive text-center">
		                                                <table class="table table-bordered">
		                                                    <thead class="thead-dark">
		                                                        <tr>
		                                                            <th>#</th>
		                                                            <th>Fecha</th>
		                                                            <th>Estado</th>
		                                                            <th>Método de Pago</th>
		                                                            <th>Total</th>
		                                                        </tr>
		                                                    </thead>
		                                                    <tbody>
		                                                        <tr th:each="order,state: ${orders}">
		                                                            <td th:text="${state.count}"></td>
		                                                            <td th:text="${order.created_at}"></td>
		                                                            <td>
																        <th:block th:switch="${order.status}">
																            <span class="badge badge-pill badge-success" th:case="${T(com.tecnotac.ecomerce.myenum.Status).COMPLETED}">PAGADO</span>
																            <span class="badge badge-pill badge-warning" th:case="${T(com.tecnotac.ecomerce.myenum.Status).PENDING}">PENDIENTE</span>
																            <span class="badge badge-pill badge-danger" th:case="${T(com.tecnotac.ecomerce.myenum.Status).CANCELED}">CANCELADO</span>
																            <span class="badge badge-pill badge-info" th:case="${T(com.tecnotac.ecomerce.myenum.Status).DELIVERED}">ENTREGADO</span>
																        </th:block>
														            </td>
		                                                            <td th:text="${order.paymentMethod}"></td>
		                                                            <td th:text="${order.total}"></td>
		                                                        </tr>
		                                                    </tbody>
		                                                </table>
		                                            </div>
		                                        </div>
		                                    </div>
		                                    <!-- Single Tab Content End -->
		
		                                    <!-- Single Tab Content Start -->
		                                    <!--<div class="tab-pane fade" id="account-info" role="tabpanel">
		                                        <div class="myaccount-content">
		                                            <h3>Detalles de mi cuenta</h3>
		                                            <div class="account-details-form">
		                                                <form th:action="@{/myaccount/update}" th:object="${userDTO}" method="post">
		                                                    <div class="row">
		                                                        <div class="col-lg-6">
		                                                            <div class="single-input-item">
		                                                                <label for="first-name" class="required">Nombres</label>
		                                                                <input name="firstName" th:value="*{firstName}" type="text" id="first-name" placeholder="Nombres"/>
		                                                                <div class="alert-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Name Error</div>
		                                                            </div>
		                                                        </div>
		                                                        <div class="col-lg-6">
		                                                            <div class="single-input-item">
		                                                                <label for="lastName" class="required">Apellidos</label>
		                                                                <input name="lastName" th:value="*{lastName}" type="text" id="last-name" placeholder="Apellidos"/>
		                                                                <div class="alert-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Name Error</div>
		                                                            </div>
		                                                        </div>
		                                                    </div>
		                                                    <fieldset>
		                                                        <legend><b>Cambio de contraseña</b></legend>
		                                                        <div class="row">
		                                                            <div class="col-lg-6">
		                                                                <div class="single-input-item">
		                                                                    <label for="new-pwd" class="required">Nueva contraseña</label>
		                                                                    <input name="password" type="password" id="new-pwd" th:value="*{password}" placeholder="Nueva contraseña"/>
		                                                                    <div class="alert-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Name Error</div>
		                                                                </div>
		                                                            </div>
		                                                            <div class="col-lg-6">
		                                                                <div class="single-input-item">
		                                                                    <label for="confirm-pwd" class="required">Confirmar contraseña</label>
		                                                                    <input name="confirmPassword" type="password" placeholder="Confirmar contraseña"/>
		                                                                    <div class="alert-danger" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}">Name Error</div>
		                                                                </div>
		                                                            </div>
		                                                        </div>
		                                                    </fieldset>
		                                                    <div class="single-input-item">
		                                                        <button class="check-btn sqr-btn" type="submit">Guardar cambios</button>
		                                                    </div>
		                                                </form>
		                                            </div>
		                                        </div>
		                                    </div> -->
		                                    <!-- Single Tab Content End -->
		                                </div>
		                            </div> <!-- My Account Tab Content End -->
		                        </div>
		                    </div> <!-- My Account Page End -->
		                </div>
		            </div>
		        </div>
		    </div>
		    <!-- my account wrapper end -->
		    
		</div>

		<!-- END CONTENIDO -->
		<div th:replace="layout/ecomerce :: brand">
		</div>

		<footer th:replace="layout/ecomerce :: footer">
		</footer>

	</div>

	<div th:replace="layout/ecomerce :: quickviewmodal">
	</div>

	<div th:replace="layout/ecomerce :: scroll">
	</div>

	<div th:replace="layout/ecomerce :: scripts">
	</div>

</body>

</html>