<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/ecomerce :: head(pageTitle='Gracias')">
</head>

<body>

	<div class="wrapper">

		<header th:replace="layout/ecomerce :: header(categorymenu='')">
		</header>
		
		<!-- breadcrumb area start -->
	    <div class="breadcrumb-area">
	        <div class="container">
	            <div class="row">
	                <div class="col-12">
	                    <div class="breadcrumb-wrap">
	                        <nav aria-label="breadcrumb">
	                            <ul class="breadcrumb">
	                                <li class="breadcrumb-item"><a th:href="@{/home}">Home</a></li>
	                                <li class="breadcrumb-item"><a th:href="@{/shop}">Compras</a></li>
	                                <li class="breadcrumb-item active" aria-current="page">Gracias</li>
	                            </ul>
	                        </nav>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	    <!-- breadcrumb area end -->

    	<div class="container">
	    	<div class="tab-content" id="myaccountContent">
		        <!-- Single Tab Content Start -->
		        <div class="tab-pane fade show active" id="dashboad" role="tabpanel">
		            <div class="myaccount-content">
		                <h3>Gracias por tu compra!</h3>
		                <div class="welcome">
		                	<!-- <p th:text="${#authentication.principal.getEmail()}"></p> -->                                  
		                </div>
		                <p class="mb-0">Tu pedido fue éxitoso, puedes revisar el estado de tu pedido desde <a th:href="@{/myaccount}" class="logout">(Aquí)</a>.</p>
		            </div>
		        </div>
		        <!-- Single Tab Content End -->
		    </div>
    	</div>
		
		<div th:replace="layout/ecomerce :: brand">
		</div>

		<footer th:replace="layout/ecomerce :: footer">
		</footer>

	</div>

	<div th:replace="layout/ecomerce :: scroll">
	</div>

	<div th:replace="layout/ecomerce :: scripts">
	</div>

</body>

</html>