<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layout/adminpanel :: head(pageTitle='Error 400')">
</head>

<body class="vertical-layout vertical-menu-modern semi-dark-layout 1-column  navbar-sticky footer-static bg-full-screen-image  blank-page blank-page" data-open="click" data-menu="vertical-menu-modern" data-col="1-column" data-layout="semi-dark-layout">
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
                <section class="row flexbox-container">
                    <div class="col-xl-7 col-md-8 col-12">
                        <div class="card bg-transparent shadow-none">
                            <div class="card-content">
                                <div class="card-body text-center bg-transparent miscellaneous">
                                    <img th:src="@{/adminpanel/app-assets/images/pages/not-authorized.png}" class="img-fluid" alt="not authorized" width="400">
                                    <h1 class="my-2 error-title">Petición o Solicitud Incorrecta!</h1>
                                    <span th:text="${error}"></span> - <span th:text="${status}"></span></h1>
                                    <p>
                                       El servidor no puede o no quiere procesar la solicitud debido a algo que se percibe como un error del cliente.
                                    </p>
                                    <a href="#" onclick="goBack();" class="btn btn-primary round glow mt-2">REGRESAR</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
	
    <script>
		function goBack() {
			window.history.back();
		}
	</script>

	<div th:replace="layout/adminpanel :: scripts">
	</div>

</body>

</html>