<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="layout/adminpanel :: head(pageTitle='Error 404')">
</head>

<body class="vertical-layout vertical-menu-modern semi-dark-layout 1-column  navbar-sticky footer-static bg-full-screen-image  blank-page blank-page" data-open="click" data-menu="vertical-menu-modern" data-col="1-column" data-layout="semi-dark-layout">
	<div class="app-content content">
        <div class="content-overlay"></div>
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
                <section class="row flexbox-container">
                    <div class="col-xl-6 col-md-7 col-9">
                        <div class="card bg-transparent shadow-none">
                            <div class="card-content">
                                <div class="card-body text-center bg-transparent miscellaneous">
                                    <h1 class="error-title">
                                    <span th:text="${error}"></span> - <span th:text="|${status} :(|"></span></h1>
                                    <p class="pb-3">
                                        No pudimos encontrar la página que estás buscando</p>
                                    <img class="img-fluid" th:src="@{/adminpanel/app-assets/images/pages/404.png}" alt="404 error">
                                    <a href="#" onclick="goBack();" class="btn btn-primary round glow mt-3">
                                    REGRESAR</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
	
    <script>
		function goBack() {
			window.history.back();
		}
	</script>

	<div th:replace="layout/adminpanel :: scripts">
	</div>

</body>

</html>