<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/ecomerce :: head(pageTitle='Shop')">
</head>

<body>

	<div class="wrapper">

		<header th:replace="layout/ecomerce :: header(categorymenu='')">
		</header>
		
		<!-- breadcrumb area start -->
	    <div class="breadcrumb-area">
	        <div class="container">
	            <div class="row">
	                <div class="col-12">
	                    <div class="breadcrumb-wrap">
	                        <nav aria-label="breadcrumb">
	                            <ul class="breadcrumb">
	                                <li class="breadcrumb-item"><a th:href="@{/home}">Home</a></li>
	                                <li class="breadcrumb-item"><a th:href="@{/shop}">Compras</a></li>
	                                <li class="breadcrumb-item active" aria-current="page">Detalle producto</li>
	                            </ul>
	                        </nav>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	    <!-- breadcrumb area end -->
	    
		<!-- product details wrapper start -->
	    <div class="product-details-wrapper">
	        <div class="container">
	            <div class="row">
	                <div class="col-lg-9">
	                    <!-- product details inner end -->
	                    <div class="product-details-inner">
	                        <div class="row">
	                            <div class="col-lg-6">
	                                <div class="product-large-slider mb-20 slick-arrow-style_2">
	                                	<div th:each="item : ${product.image}" class="pro-large-img img-zoom">
	                                        <img th:src="@{${'/productimgs/' + item.name}}" alt="" />
	                                    </div>
	                                </div>
	                                <div class="pro-nav slick-padding2 slick-arrow-style_2">
	                                	<div th:each="item : ${product.image}" class="pro-nav-thumb">
	                                		<img th:src="@{${'/productimgs/' + item.name}}" alt="" />
	                                	</div>
	                                </div>
	                            </div>
	                            <div class="col-lg-6">
	                                <div class="product-details-des mt-md-34 mt-sm-34">
	                                    <h3><a href="@{/product-details" th:text="${product.name}"></a></h3>
	                                    <div class="ratings">
	                                        <span class="good"><i class="fa fa-star"></i></span>
	                                        <span class="good"><i class="fa fa-star"></i></span>
	                                        <span class="good"><i class="fa fa-star"></i></span>
	                                        <span class="good"><i class="fa fa-star"></i></span>
	                                        <span><i class="fa fa-star"></i></span>
	                                        <div class="pro-review">
	                                            <span>1 reseña(s)</span>
	                                        </div>
	                                    </div>
	                                    <div class="customer-rev">
	                                        <a href="javascript:void(0);">(1 reseña de cliente)</a>
	                                    </div>
	                                    <div th:if="${product.stock > 0}" class="availability mt-10">
	                                        <h5>Disponible:</h5>
	                                        <span th:text="|${product.stock} en stock|"></span>
	                                    </div>
	                                    <div th:unless="${product.stock > 0}">
											<h2><span class="badge bg-danger text-white">Agotado</span></h2>
	                                    </div>
	                                    <div class="pricebox">
	                                        <span class="regular-price" th:text="|S/ ${product.price}|"></span>
	                                    </div>
	                                    <!--<p th:text="${product.description}"><br>-->
	                                    </p>
	                                    <form th:action="@{/addToCart}" method="post">
	                                    	<input type="hidden" name="id" th:value="${product.id}"/>
		                                    <div th:unless="${product.stock <= 0}" class="quantity-cart-box d-flex align-items-center">
		                                        <div class="quantity">
		                                            <div class="pro-qty"><input type="text" name="quantity" th:value="1"></div>
		                                        </div>
		                                        <div class="action_link">
		                                            <a href="#" onclick="$(this).closest('form').submit()" class="buy-btn">Agregar<i class="fa fa-shopping-cart"></i></a>
		                                        </div>
		                                    </div>
	                                    </form>
	                                    <!--<div class="useful-links mt-20">
	                                        <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Compare"><i class="fa fa-refresh"></i>compare</a>
	                                        <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Wishlist"><i class="fa fa-heart-o"></i>wishlist</a>
	                                    </div> -->
	                                    <!--<div class="share-icon mt-20">
	                                        <a class="facebook" href="javascript:void(0);"><i class="fa fa-facebook"></i>like</a>
	                                        <a class="twitter" href="javascript:void(0);"><i class="fa fa-twitter"></i>tweet</a>
	                                        <a class="pinterest" href="javascript:void(0);"><i class="fa fa-pinterest"></i>save</a>
	                                        <a class="google" href="javascript:void(0);"><i class="fa fa-google-plus"></i>share</a>
	                                    </div>-->
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                    <!-- product details inner end -->
	
	                    <!-- product details reviews start -->
	                    <div class="product-details-reviews mt-34">
	                        <div class="row">
	                            <div class="col-lg-12">
	                                <div class="product-review-info">
	                                    <ul class="nav review-tab">
	                                        <li>
	                                            <a class="active" data-toggle="tab" href="#tab_one">descripción</a>
	                                        </li>
	                                        <li>
	                                            <a data-toggle="tab" href="#tab_two">Características</a>
	                                        </li>
	                                        <!--<li>
	                                            <a data-toggle="tab" href="#tab_three">Reseñas</a>
	                                        </li>-->
	                                    </ul>
	                                    <div class="tab-content reviews-tab">
	                                        <div class="tab-pane fade show active" id="tab_one">
	                                            <div class="tab-one">
	                                                <p th:text="${product.description}"></p>
	                                                <div class="review-description">
	                                                    <div class="tab-thumb">
	                                                        <img th:src="@{${'/productimgs/' + product.image[0].name}}" alt="">
	                                                    </div>
	                                                    <div class="tab-des mt-sm-24">
	                                                        <h3>Descripción del producto :</h3>
	                                                        <ul>
	                                                            <li th:text="${product.name}"></li>
	                                                            <li th:text="|S/ ${product.price}|"></li>
	                                                            <li th:text="|${product.weight} gramos|"></li>
	                                                        </ul>
	                                                    </div>
	                                                </div>
	                                            </div>
	                                        </div>
	                                        <div class="tab-pane fade" id="tab_two">
	                                            <table class="table table-bordered">
	                                                <tbody>
	                                                    <tr>
	                                                        <td>Peso</td>
	                                                        <td th:text="|${product.weight} gramos|"></td>
	                                                    </tr>
	                                                </tbody>
	                                            </table>
	                                        </div>
	                                        <div class="tab-pane fade" id="tab_three">
	                                            <form action="#" class="review-form">
	                                                <h5>1 review for Simple product 12</h5>
	                                                <div class="total-reviews">
	                                                    <div class="rev-avatar">
	                                                        <img th:src="@{/ecomerce/assets/img/about/avatar.jpg}" alt="">
	                                                    </div>
	                                                    <div class="review-box">
	                                                        <div class="ratings">
	                                                            <span class="good"><i class="fa fa-star"></i></span>
	                                                            <span class="good"><i class="fa fa-star"></i></span>
	                                                            <span class="good"><i class="fa fa-star"></i></span>
	                                                            <span class="good"><i class="fa fa-star"></i></span>
	                                                            <span><i class="fa fa-star"></i></span>
	                                                        </div>
	                                                        <div class="post-author">
	                                                            <p><span>admin -</span> 30 Nov, 2018</p>
	                                                        </div>
	                                                        <p>Aliquam fringilla euismod risus ac bibendum. Sed sit amet sem varius ante feugiat lacinia. Nunc ipsum nulla, vulputate ut venenatis vitae, malesuada ut mi. Quisque iaculis, dui congue placerat pretium, augue erat accumsan lacus</p>
	                                                    </div>
	                                                </div>
	                                                <div class="form-group row">
	                                                    <div class="col">
	                                                        <label class="col-form-label"><span class="text-danger">*</span> Your Name</label>
	                                                        <input type="text" class="form-control" required>
	                                                    </div>
	                                                </div>
	                                                <div class="form-group row">
	                                                    <div class="col">
	                                                        <label class="col-form-label"><span class="text-danger">*</span> Your Email</label>
	                                                        <input type="email" class="form-control" required>
	                                                    </div>
	                                                </div>
	                                                <div class="form-group row">
	                                                    <div class="col">
	                                                        <label class="col-form-label"><span class="text-danger">*</span> Your Review</label>
	                                                        <textarea class="form-control" required></textarea>
	                                                        <div class="help-block pt-10"><span class="text-danger">Note:</span> HTML is not translated!</div>
	                                                    </div>
	                                                </div>
	                                                <div class="form-group row">
	                                                    <div class="col">
	                                                        <label class="col-form-label"><span class="text-danger">*</span> Rating</label>
	                                                        &nbsp;&nbsp;&nbsp; Bad&nbsp;
	                                                        <input type="radio" value="1" name="rating">
	                                                        &nbsp;
	                                                        <input type="radio" value="2" name="rating">
	                                                        &nbsp;
	                                                        <input type="radio" value="3" name="rating">
	                                                        &nbsp;
	                                                        <input type="radio" value="4" name="rating">
	                                                        &nbsp;
	                                                        <input type="radio" value="5" name="rating" checked>
	                                                        &nbsp;Good
	                                                    </div>
	                                                </div>
	                                                <div class="buttons">
	                                                    <button class="sqr-btn" type="submit">Continue</button>
	                                                </div>
	                                            </form> <!-- end of review-form -->
	                                        </div>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                    </div> 
	                    <!-- product details reviews end --> 
	
	                    <!-- related products area start -->
	                   	<div class="related-products-area mt-34">
	                        <div class="section-title mb-30">
	                            <div class="title-icon">
	                                <i class="fa fa-desktop"></i>
	                            </div>
	                            <h3>productos relacionados</h3>
	                        </div> <!-- section title end -->
	                        <!-- featured category start -->
	                        <div class="featured-carousel-active slick-padding slick-arrow-style">
	                            <!-- product single item start -->
	                            <div th:each="product : ${productsRelated}" class="product-item fix">
	                                <div class="product-thumb">
	                                    <a th:href="@{/shop/{parent}/viewproduct/{id}(id=${product.id},parent=${product.category.parent.parent.id})}">
	                                        <img th:src="@{${'/productimgs/' + product.image[0].name}}" th:alt="${product.name}" class="img-pri">
	                                        <img th:src="@{${'/productimgs/' + product.image[1].name}}" th:alt="${product.name}" class="img-sec">
	                                    </a>
	                                    <div class="product-label">
	                                        <span>top</span>
	                                    </div>
	                                    <form th:action="@{/addToCart}" method="post">
	                                    	<input type="hidden" name="id" th:value="${product.id}"/>
	                                    	<input type="hidden" name="quantity" th:value="1"/>
		                                    <div class="product-action-link">
		                                        <a class="modal_view" th:attr="data-product-id=${product.id}" href="javascript:void(0);" data-toggle="modal" data-target="#quick_view"> <span data-toggle="tooltip" data-placement="left" title="Vista previa"><i class="fa fa-search"></i></span> </a>
		                                        <!--<a href="javascript:void(0);" data-toggle="tooltip" data-placement="left" title="Wishlist"><i class="fa fa-heart-o"></i></a>
		                                        <a href="javascript:void(0);" data-toggle="tooltip" data-placement="left" title="Compare"><i class="fa fa-refresh"></i></a>-->
		                                        <a href="#" onclick="$(this).closest('form').submit()" data-toggle="tooltip" data-placement="left" title="Agregar"><i class="fa fa-shopping-cart"></i></a>
		                                    </div>
	                                    </form>
	                                </div>
	                                <div class="product-content">
	                                    <h4><a th:href="@{/shop/{parent}/viewproduct/{id}(id=${product.id},parent=${product.category.parent.parent.id})}" th:text="${product.name}"></a></h4>
	                                    <div class="pricebox">
	                                        <span class="regular-price" th:text="|S/ ${product.price}|"></span>
	                                        <!--<div class="ratings">
	                                            <span class="good"><i class="fa fa-star"></i></span>
	                                            <span class="good"><i class="fa fa-star"></i></span>
	                                            <span class="good"><i class="fa fa-star"></i></span>
	                                            <span class="good"><i class="fa fa-star"></i></span>
	                                            <span><i class="fa fa-star"></i></span>
	                                            <div class="pro-review">
	                                                <span>1 review(s)</span>
	                                            </div>
	                                        </div>-->
	                                    </div>
	                                </div>
	                            </div>
	                            <!-- product single item end -->
	                        </div>
	                        <!-- featured category end -->
	                    </div>
	                    <!-- related products area end -->
	                </div>
	
	                <!-- sidebar start -->
	                <div class="col-lg-3">
	                    <div class="shop-sidebar-wrap fix mt-md-22 mt-sm-22">
	                        <!-- featured category start -->
	                        <div class="sidebar-widget mb-22">
	                            <div class="section-title-2 d-flex justify-content-between mb-28">
	                                <h3>Más visitados</h3>
	                                <div class="category-append"></div>
	                            </div> <!-- section title end -->
	                            <div class="category-carousel-active row" data-row="4">
	                                <div class="col" th:each="product : ${productsMostViewed}">
	                                    <div class="category-item">
	                                        <div class="category-thumb">
	                                            <a th:href="@{/shop/{parent}/viewproduct/{id}(id=${product.id},parent=${product.category.parent.parent.id})}">
	                                                <img th:src="@{${'/productimgs/' + product.image[0].name}}" th:alt="${product.name}">
	                                            </a>
	                                        </div>
	                                        <div class="category-content">
	                                            <h4><a href="${pageContext.request.contextPath}/product-details">Virtual Product 01</a></h4>
	                                            <div class="price-box">
	                                                <div class="regular-price" th:text="|S/ ${product.price}|">
	                                                </div>
	                                                <div class="old-price">
	                                                    <del th:text="|S/ ${product.price + 500}|"></del>
	                                                </div>
	                                            </div>
	                                            <div class="ratings">
	                                                <span class="good"><i class="fa fa-star"></i></span>
	                                                <span class="good"><i class="fa fa-star"></i></span>
	                                                <span class="good"><i class="fa fa-star"></i></span>
	                                                <span class="good"><i class="fa fa-star"></i></span>
	                                                <span><i class="fa fa-star"></i></span>
	                                                <div class="pro-review">
	                                                    <span>1 review(s)</span>
	                                                </div>
	                                            </div>
	                                        </div>
	                                    </div> <!-- end single item -->
	                                </div> <!-- end single item column -->
	                            </div>
	                        </div>
	                        <!-- featured category end -->
	
	                        <!-- manufacturer start -->
	                        <!--<div class="sidebar-widget mb-22">
	                            <div class="sidebar-title mb-10">
	                                <h3>Marcas</h3>
	                            </div>
	                            <div class="sidebar-widget-body">
	                                <ul>
	                                    <li><i class="fa fa-angle-right"></i><a href="javascript:void(0);">calvin klein</a><span>(10)</span></li>
	                                    <li><i class="fa fa-angle-right"></i><a href="javascript:void(0);">diesel</a><span>(12)</span></li>
	                                    <li><i class="fa fa-angle-right"></i><a href="javascript:void(0);">polo</a><span>(20)</span></li>
	                                    <li><i class="fa fa-angle-right"></i><a href="javascript:void(0);">Tommy Hilfiger</a><span>(12)</span></li>
	                                    <li><i class="fa fa-angle-right"></i><a href="javascript:void(0);">Versace</a><span>(16)</span></li>
	                                </ul>
	                            </div>
	                        </div>-->
	                        <!-- manufacturer end -->
	
	                        <!-- product tag start -->
	                        <!--<div class="sidebar-widget mb-22">
	                            <div class="sidebar-title mb-20">
	                                <h3>tag</h3>
	                            </div>
	                            <div class="sidebar-widget-body">
	                                <div class="product-tag">
	                                    <a href="javascript:void(0);">camera</a>
	                                    <a href="javascript:void(0);">computer</a>
	                                    <a href="javascript:void(0);">tablet</a>
	                                    <a href="javascript:void(0);">watch</a>
	                                    <a href="javascript:void(0);">smart phones</a>
	                                    <a href="javascript:void(0);">handbag</a>
	                                    <a href="javascript:void(0);">shoe</a>
	                                    <a href="javascript:void(0);">men</a>
	                                </div>
	                            </div>
	                        </div>-->
	                        <!-- product tag end -->
	
	                        <!-- sidebar banner start -->
	                        <!--<div class="sidebar-widget mb-22">
	                            <div class="img-container fix img-full mt-30">
	                                <a href="javascript:void(0);"><img th:src="@{/ecomerce/assets/img/banner/banner_shop.jpg}" alt=""></a>
	                            </div>
	                        </div>-->
	                        <!-- sidebar banner end -->
	                    </div>
	                </div>
	                <!-- sidebar end -->
	            </div>
	        </div>
	    </div>
	    <!-- product details wrapper end -->
		
		<div th:replace="layout/ecomerce :: brand">
		</div>

		<footer th:replace="layout/ecomerce :: footer">
		</footer>

	</div>

	<div th:replace="layout/ecomerce :: quickviewmodal">
	</div>

	<div th:replace="layout/ecomerce :: scroll">
	</div>

	<div th:replace="layout/ecomerce :: scripts">
	</div>
	
	<script th:src="@{/client/scripts/modal-view.js}"></script>

</body>

</html>