<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/adminpanel :: head(pageTitle='Pedidos')">
</head>

<body class="vertical-layout vertical-menu-modern semi-dark-layout 2-columns  navbar-sticky footer-static" data-open="click" data-menu="vertical-menu-modern" data-col="2-columns" data-layout="semi-dark-layout">
	<div th:replace="layout/adminpanel :: header">
	</div>
	
	<div th:replace="layout/adminpanel :: main_menu">
	</div>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js" defer></script>
	<script src="//cdn.datatables.net/plug-ins/1.11.2/dataRender/datetime.js" defer></script>
	
	<link th:href="@{/adminpanel/app-assets/css/plugins/x-editable/bootstrap-editable.css}" rel="stylesheet"/>
	<script th:src="@{/adminpanel/app-assets/css/plugins/x-editable/bootstrap-editable.js}" defer></script>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"/>
	
	<script th:src="@{/admin/scripts/jquery.spring-friendly.js}" defer></script>
	
	<!-- BEGIN: Content-->
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="content-wrapper">
             <div class="content-header row">
                <div class="content-header-left col-12 mb-2 mt-1">
                    <div class="row breadcrumbs-top">
                        <div class="col-12">
                            <h5 class="content-header-title float-left pr-1 mb-0">Pedidos</h5>
                            <div class="breadcrumb-wrapper col-12">
                                <ol class="breadcrumb p-0 mb-0">
                                    <li class="breadcrumb-item"><a th:href="@{/admin/dashboard}"><i class="bx bx-home-alt"></i></a>
                                    </li>
                                    <li class="breadcrumb-item active">Pedidos
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body">
            	<div th:fragment="content">
            		<section class="users-list-wrapper">
	                    <div class="users-list-table">
	                        <div class="card">
	                            <div class="card-content">
	                                <div class="card-body">
	                                    <!-- datatable start -->
	                                    <div class="">
										    <table id="table-orders" class="table" style="width:100%">
										    	 <thead>
										            <tr>
											            <th>#</th>
											            <th>Código</th>
											            <th>Fecha</th>
											            <th>Estado</th>
											            <th>Método de pago</th>
											            <th>Total</th>
											            <th>Acciones</th>
										            </tr>
										        </thead>
										    </table>
										</div>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </section>
				</div>
            </div>
        </div>
	</div>
    <!-- END: Content-->
	
	<footer th:replace="layout/adminpanel :: footer">
	</footer>

	<div th:replace="layout/adminpanel :: scripts">
	</div>
	
	<!-- BEGIN: Datatable JS-->
	<script th:src="@{/admin/scripts/order.js}"></script>
	<!-- END: Datatable JS-->
	
</body>

</html>